serological tests cross-react with htlv-2, requiring positive elisa to be confirmed by western blot, ifa, or radioimmunoprecipitation (ripa); rt-pcr.
for mild cases, an oral triazole; for severe cases, amphotericin b followed by an oral triazole for at least a year.
virus can be isolated or rna detected in acute blood by rt-pcr.
adult worm can be extracted by carefully and slowly winding the worm around. metronidazole or thiabendazole can facilitate the extraction process
haemophilus influenzae
none.
serology (igm elisa, western blot, strip immunoblot, ifa); rt-pcr of biopsy material.
light microscopy of giemsa stained; rapid diagnostic tests (rdts); pcr
community management by safe strategy
human-deer-fly-human.
s. stercoralis has a free-living (asexual) and parasitic (sexual) lifecycle. this process of auto-infection may lead to hyperinfection in immunocompromised individuals.
streptococcus suis
blood or bone marrow culture and other infected bodily tissues (urine, csf); serology; pcr.
2–5 days viremia in host, 5–7 days in mosquito, then back into host.
larva currens.
via fecal contaminated water, drinks or food from infected individuals or carriers
pneumonia, hepatitis, and isolated fever. neurological (headache, confusion, peripheral neuropathy), sore throat, chills, sweats, rash, and non-productive cough.
uruma fever.
pentavalent antimonials; pentamidine; amphotericin.
typical skin ulcer, eschar, may develop at the site of the mite’s bite. several days later fever, headache, myalgia, and lymphadenopathy may develop
sars
mainly humans; rarely domestic animals
elisa or ifa, confirmed by igm and igg western or striped blot test.
bilharziasis, katayama fever or syndrome, urogenital and intestinal schistosomiasis.
rt-pcr on whole blood or serum; virus isolation; plaque reduction neutralization test (there is crossreactivity with related viruses, including chikv).
taeniosis: detection of eggs in stool by microscopy; serology; neurocysticercosis: histology; ct or mri scan brain;
many species of mosquitoes of the genera aedes, mansonia, culex, and anopheles.
humans; non-human primates (cynomolgus monkeys, macaques). clean river sediments, sewage, and brackish coastal pools.
l. monocytogenes can be detected from blood and csf by microscopy/culture or pcr.
fecal–oral route, mainly via fecally contaminated water, but also via: food, materno-fetal, and transfusion of blood products. 
by bite of the vector.
during outbreaks: strict control on animal movements and slaughtering; adequate cooking essential; who recommends cooking pork to reach an internal temperature of 70 c
serologic tests to assess active infection: hbsag, hbeag; hbv dna can be detected in blood by pcr; quantitative pcr to monitor treatment.
oroya fever, carrión disease, verruga peruana (peruvian wart).
herbivores become infected on contaminated soil. omnivores and carnivores are infected by feeding on infected prey or carcases
personal protection from sandfly bites (e.g. protective clothing, insecticide-treated bednets, residual insecticiding of breeding places).
rotavirus
mosquito-host-mosquito. the mosquito becomes infected when feeding on a viremic reservoir host. the virus reaches the salivary glands and is transmitted by feeding on the next host in several days.
90% of the cases will be self-limited and asymptomatic; 10% develop invasive-intestinal disease (colitis), and <1% extra-intestinal disease (liver abscess). amebic colitis presents with abdominal cramps, weight loss, and watery or sometimes bloody diarrhea
ova are excreted with the feces of infected animals, and develop into larvae which are ingested by squid and other invertebrates – these in turn are ingested by fish which may be eaten raw by humans.
culture (cysteine-enriched media) or pcr on specimens of affected tissues. serology on acute and convalescent sera.
environment with occasional spillover to humans.
none.
most cases reported from afghanistan, algeria, pakistan, saudi arabia, and syria in the old world.
clinical evident disease is more common in age group 15–44 years, with following symptoms: fatigue, fever, nausea, vomiting, abdominal pain, jaundice, dark urine, and light stool. 
isolation of agent from blood, urine, sputum, pus or skin lesions; direct immunofluorescence; serology
c. botulinum spores are found in soil, dust, honey, marine sediments, and in intestines of fish and land animals.
personal anti-mosquito precautions
vector control; mosquito repellent; insecticidetreated bed nets; treatment of infected humans.
rodent control; avoid close contact with reservoir animals; prophylaxis with penicillin or doxycycline following rat bite.
vcjd, mad cow disease, transmissible spongiform encephalopathy, prion disease.
small rodents (mice, voles, rats) and insectivores (shrews, hedgehogs)
by bite of an infected phlebotomine sandfly.
hard ticks
a self-limiting disease that lasts for about 4 to 7 days. patients usually experience dengue-like illness with fever, muscle pain, headache, and joint pain.
mosquito bite.
principally humans;
sheep liver fluke disease, pharyngeal fascioliasis.
standard louse control and personal tick protection. chemoprophylaxis may be used for bite victims.
hib is transmitted from person to person via airborne droplets or direct contact with respiratory secretions.
intestinal tract of animals and humans, and soil.
reported in the middle east, the indian subcontinent, and various parts of southeast asia.
african bunyamwera viruses known to cause human disease circulate in sub-saharan africa.
trypanosoma cruzi, a protozoan, with a flagellate form in the bloodstream and an intracellular form without flagellum.
hantaviruses, a large group of different, enveloped, single-stranded, negative-sense viruses with a tripartite rna genome, that belong to the bunyaviridae family. 
polyarthritis and rash, epidemic polyarthritis, barmah forest virus disease, and ross river virus disease, murweh virus disease.
b. quintana multiplies in the louse’s intestine and is excreted in the feces. chronic b. quintana bacteremia facilitates infection in lice and further spread.
sars presents initially with fever, headache, myalgia, and a non-productive cough that may progress to dyspnoea with pulmonary infiltrations on chest x-ray.
attachment of the hookworm to the intestinal mucosa results in loss of blood, eventually resulting in anemia and malnutrition in chronic cases.
rodent–rodent, with humans as accidental dead-end hosts. infected reservoir hosts are asymptomatic and excrete infectious virus in the urine.
serology (hev igm, igg); hev rna detection in blood and stool by rt-pcr.
direct person-to-person transmission via respiratory droplets.
by ingestion of infected copepods, usually with drinking water.
by mosquito bite.
german measles
streptomycin is recommended, with gentamicin as an alternative.
pulmonary lesions occur in 70% of cases, extrapulmonary (meningitis, skeletal, any other organ, disseminated) in 30%. early symptoms of pulmonary tb are weight loss, fever, and night sweats, progressing to cough, chest pain, and hemoptysis
mosquitoes, primarily aedes and ochlerotatus spp., secondarily anopheles spp. ae. triseriatus (eastern treehole mosquito) is the most important vector of lacv in the usa
by mosquito bite.
supportive, there is no specific treatment.
sanitation (particularly use of latrine and maintaining pigs enclosed); hygiene; meat inspection; thorough cooking of pig meat before consumption;
bunyamwera group viruses are enveloped, singlestranded, rna viruses genus orthobunyavirus of the family bunyaviridae
access to clean water and sanitation; protective clothing (rubber boots and gloves) for those with occupational exposure; after accidental exposure, dry the skin and apply 70% alcohol
search for ticks on the whole body daily and remove them without crushing. use tick repellent on skin and an acaricide on clothing.
humans.
penicillin and metronidazole; rehydration; nutritional rehabilitation; wound disinfection; reconstructive surgery.
fluorquinolones are recommended in the absence of resistance. third-generation cephalosporins is used for severe cases. surgery for abdominal complications (e.g. perforation). dexamethason is recommended for severe cases.
cutaneous and mucosal leishmaniasis (cl): aleppo evil, baghdad boil, delhi boil, oriental sore, delhi boil, and others.
usually asymptomatic or mild. diarrhea alternating with constipation, vomiting and anorexia, edema of the face, abdominal wall and legs, ascites.
light-colored clothing with long sleeves mosquito repellents containing deet on exposed skin, avoid as much as possible outdoor activities at dawn and dusk, and removal of mosquito-breeding sites from around the home.
igm antibody detection in csf (in serum may not be from the current infection), neutralization test on paired acute and convalescent sera
gram stain and culture of csf, blood, or synovial fluid. pcr from normally sterile site
clean wounds, perform debridement and remove foreign objects. a one-off dose of im or iv human tetanus immunoglobulin removes unbound toxin. metronidazole in large doses for 7–14 days to eradicate c. tetani infection.
unknown. bamboo rats may amplify infectious dispersal stages for human infections.
accidental ingestion of metacercariae via contaminated water, watercress, or other contaminated plants
fleas
by mosquito bite.
lyme borreliosis is a multisystem disease that can affect the skin, heart, nervous system and, less commonly, the eyes, kidneys, and liver.
it is estimated that 37 million people are infected worldwide, 97% of them in africa, and remaining in small foci in central and south america and yemen.
asianmonkeys can be infected, but do not seem to constitute an important reservoir. 
humans are the main reservoir; non-human primates can be infected, rarely.
falciparum malaria, malaria tropica, tropical fever, blackwater fever, paludism, marsh fever.
unnoticed
hygiene, access to clean water and sanitation. an oral cholera vaccine is available. cholera must be reported to national health authorities
possibly mechanic transmission by non-biting flies
humans are viremic at a titer high enough to infect mosquitoes for 3 to 7 days post illness onset.
aquatic insects;
mosquito bite
by mosquito bite. there is no direct person-toperson transmission.
oral rehydration therapy (ort) using reduced osmolarity ors; antibiotics are only useful to prevent spread
serology (igm elisa, ifa); rt-pcr. virus isolation is difficult.
application of residual insecticides or insecticidal paint inside dwellings, use ofinsecticide-treated bed nets, screening of blood and organ donors from infected areas
mosquitoes
resemble streptococcal pharyngitis. polyneuritis and myocarditis. nasal discharge and ulceration. associated with skin infections
hares, hedgehogs, wild mice, livestock, ostriches, ticks also serve as reservoirs.
4 weeks of streptomycin and rifampicin followed by 4 weeks of rifampicin and clarithromycin. rifampicin plus streptomycin for 8 weeks
acute watery diarrhea, severe watery diarrhea with vomiting, leading to severe dehydration
soil, animal hair, wool or hides, particularly goat skins contaminated with soil.
fish-eating mammals (including humans) shed c. sinensis eggs into the environment that are ingested by snails, where they develop into cercariae. the motile cercariae are released into water and infect freshwater fish and encyst in meat and skin as metacercariae
mosquito–reservoir animal–mosquito
wear clothes that cover extremities; cover skin lesions; insect repellent; cover water supply.
dengue-like acute febrile illness with chills, headache, retro-orbital pain, myalgia and severe arthralgia of the small joints of the hands and feet, sometimes nausea, vomiting and diarrhea, painful lymphadenopathies and often a maculopapular rash.
virus detection in the blood by rt-pcr or virus isolation;
avoid areas with mites; mite bite prevention by impregnating clothes with miticides; mite elimination in highrisk areas
poliovirus, an rna enterovirus
early stage disease: suramin for t. b. rhodesiense, pentamidine fort. b. gambiense; late stage disease: melarsoprol for both forms;
supportive; vitamin a supplementation is important to avoid the complications of vitamin a deficiency resulting from the infection. efficacy of ribavirin is unproven.
pigs; occasionally found in wild boar, horses, dogs, cats, and birds.
pus contains visible granules, histopathology of biopsy, culture (slow).
lyme borreliosis, erythema (chronicum) migrans (em), tick-borne meningopolyneuritis, acrodermatitis chronica atrophicans.
epidemic or louse-borne relapsing fever (lbrf), endemic or tick-borne relapsing fever (tbrf).
humans.
by mosquito bite (anopheles spp.)
group c viruses are geograpically limited to the tropical and subtropical areas of the americas, and were first described in the brazilian amazon in the 1950s
possibly in the soil the fungus produces infective propagula that can become airborne, inhaled, and lead to respiratory infection.
human monocytic ehrlichioses (hme), human granulocytic anaplasmosis (hga), sennetsu fever.
hard ticks (ixodidae)
none.
pestis, pest, bubonic plague, pneumonic plague, black plague, black death.
common symptoms include fever, malaise, weight loss, and sweats. cough may be prominent. symptoms can come and go. splenomegaly, hepatomegaly, and lymphadenopathy are common findings.
infective larvae migrate out of the mouth part of the fly during bite onto the skin and subsequently enter the wound.
lbrf by feces or louse gut fluid entering broken skin by scratching. tbrf: by bite or coxal fluid of infected ticks.
endemic syphilis (bejel, nonvenereal) syphilis, pinta (carate), yaws (frambesia), nonvenereal treponematosis.
avoid accumulations of bird or bat droppings such as are found in caves.
most infections are asymptomatic or mild and resolve without treatment. the acute phase begins with fever, malaise, chest pains and a dry cough.
tbrf is primarily transmitted by ornithodoros ticks. lbrf is transmitted by the human body louse (pediculus humanus)
by consumption of infected raw, salted, marinated, pickled or undercooked freshwater crabs and crayfish.
opisthorchis felineus in europe and northern asia, o. viverrini in southeast asia
ancylostoma duodenale and necator americanus
colorado tick fever virus (ctfv)
microscopy for eggs in stool (s. mansoni) or urine (s. haematobium) samples; quantification of eggs in stool by kato–katz method; pcr.
fasciola hepatica and fasciola gigantica
humans are the definitive host; pigs are an intermediate host.
bartonella bacilliformis
serology to detect specific igm antibodies; rt-pcr to detect viral rna in blood or stool.
access to adequate counseling and correct information about htlv is of fundamental importance for htlv-1 seropositive individuals.
malaria, paludism, tropical fever.
world wide, but the epidemiology of the meningococcal meningitis is regionally heterogeneous and dynamic.
guinea worm disease, medina worm disease, pharaoh worm disease, serpent worm disease, dracontiasis.
environment (soil) to human.
leptospira chronically colonize the proximal renal tubules of many animals and are excreted in the urine into the environment.
a papule at the bite site develops into a painful chancre (mainly t.b. rhodesiense)
supportive
unclear, but likely through inhalation of p. marneffei conidia from the environment; cutaneous inoculation
oro-fecal. 100% of susceptible contacts become infected. virus appears in the throat < 36 hours after infection, for a week, and in the feces after 72 hours for 3–6 weeks.
sleeping sickness, gambian trypanosomiasis, rhodesian trypanosomiasis, west african sleeping sickness, east african sleeping sickness.
hme, hga: fever, headache, anorexia, myalgia, nausea, and vomiting; occasionally a rash. sennetsu fever: sudden onset fever, chills, malaise, headache, muscle and joint pain, sore throat
wild rodents (gerbils)
serology is mainly used (immunodiffusion and cf tests).
pcr is able to distinguish between these species; stool antigen tests can identify e. histolytica.
sanitation to avoid contamination of vector snail habitat with human or animal feces.
plasmodium falciparum
filarial nematode (roundworm), loa loa
taeniosis is t. solium infection of the small intestine and varies from asymptomatic (the most frequent) to weight loss, anorexia and abdominal pain. seizures, headache, focal neurologic signs, epilepsy, and hydrocephalus may develop
clonorchis sinensis
crustaceans infected with metacercaria larvae are ingested by the reservoir host, excyst in the gut and migrate to the tissues, usually the lungs. there they encapsulate, mature, and lay eggs.
doxycycline for 6 weeks, in combination with either rifampicin for 6 weeks, or streptomycin for 2–3 weeks, or gentamicin for 1–2 weeks.
rotavirus antigen detection by eia and other serological techniques
it is estimated that more than 207 million people are infected world wide, with 85% of them in africa.
appropriate disposal of birth products; routine testing of risk animals; restricted movement of animals in infected regions; culling of infected animals; a human and veterinary vaccine is available in several countries; pasteurize milk.
klebsiella granulomatis, formerly calymmatobacterium granulomatis
by tick bites, ingestion of uncooked, parasitized aquatic hosts
foxes (including urban foxes) are the definitive hosts, wild rodents (mainly arvicolidae), voles and lemmings are intermediate hosts.
mosquito species that breedin rice fields and marshes, principally culex tritaenorhynchus group; also c. gelidus and c. vishnui.
humans. cattle and other livestock may harbor c. ulcerans
undetermined. thought to be forest rodents (squirrels, rats, mice, dormice), shrews and monkeys in the rainforests of west and central africa.
inhalation of arthroconidia (reproductive spores) from the environment or dusty fomites.
tree-hole-breeding forest mosquitoes
serology (igm and igg elisa) on acute and convalescent sera; rt-pcr
vaccination of children with three doses of hib conjugate vaccine. rifampicin prophylaxis is recommended for all household members.
streptococcus pneumoniae (pneumococcus)
humans.
cough, rhinorrhea, sore throat, malaise, and fever can develop when the worms move through the lungs.
main transmission is fecal–oral
strongyloides stercoralis
ebola viruses, except restv, are endemic in the tropical rain forests of equatorial africa.
characterized by high fever of 2–7 days. initial symptoms include generalized body aches, myalgias, arthralgias, headache, chills, sweats, and a transitory rash. later symptoms may include nausea, vomiting, dry cough, photophobia, neck pain, conjunctivitis, jaundice, hepatosplenomegaly, confusion
avoid tick bites, use repellent on skin and repellent or acaricide on clothing, check body daily for ticks after exposure, boil or pasteurize milk from cows, sheep, and goats in endemic areas.
uncomplicated malaria: acute febrile illness with headache, chills, sweats, nausea, and vomiting; hepatosplenomegaly. severe malaria can be: cerebral malaria (confusion, seizures, impaired consciousness to coma), hemolysis, severe anemia, hypotension, renal failure, metabolic acidosis and death.
intestinal capillariasis starts with mild abdominal pain, borborygmus, and diarrhea, that develops to profuse watery diarrhea. if untreated: chronic diarrhea, vomiting, malabsorption, leading to weight loss, muscle wasting, cachexia, and eventually death.
humans.
bat to bat via unknown route. humans and domestic animals are incidental hosts.
radiology to demonstrate bile duct pathology. pcr test for o. viverrini is available.
spherical, enveloped orthobunyaviruses with singlestranded, negative-sense, tripartite rna genomes, with considerable recognized reassortment.
eastern equine encephalitis virus (eeev) is an enveloped, single-stranded positive-sense rna alphavirus, genus alphavirus in the family togaviridae, with four lineages
alveolar or multilocular echinococcosis.
