control deer population; avoid areas with ticks; tick bite precautions: cover skin, repellent on skin and clothing
tetanus spores enter the body through wounds and under anaerobic conditions, the spores germinate and produce toxin.
care needs to be taken in loiasis endemic areas to prevent adverse events; vector control (e.g. bed nets, repellent).
small wild mammals such as rodents, snowshoe hares, deer and vector mosquitoes (venereal and transovarian transmission occur).
primarily old world fruit-eating bats, mainly in the family pteropodidae.
ixodid wood tick (dermacentor andersoni).
snail–human–snail
none.
hme, hga: fever, headache, anorexia, myalgia, nausea, and vomiting; occasionally a rash. sennetsu fever: sudden onset fever, chills, malaise, headache, muscle and joint pain, sore throat
the disease ecology is not completely understood.
domestic and peridomestic rodent control, disinfection of rodent-contaminated areas.
mainly humans; rarely domestic animals
direct transmission via skin to skin or oral contact (also via sharing drinking and eating utensils).
humans, dogs, cats, pigs, cattle, water buffalo and wild rodents
since the global polio eradication initiative, cases have decreased significantly. there were 1,292 reported cases in 2010, of which only 232 were in the endemic countries afghanistan, india, nigeria, and pakistan. in endemic countries most cases are children aged <3 years. in 2009–2010, 23 previously polio-free countries were re-infected due to importation of the virus, notably hundreds of cases in tajikistan. most reported polio cases in 2010 (n 1,060) were in nonendemic countries. polio transmission seems to have been reestablished in chad, angola, sudan, and the drc.
flies can contaminate foods.
human-deer-fly-human.
reservoir
world wide, but the epidemiology of the meningococcal meningitis is regionally heterogeneous and dynamic.
this is unknown at present.
aedes africanus, ae. apicoargenteus, ae. luteocephalus, ae. aegypti, ae. vittatus, and ae. furcifer mosquitoes
for bacteria, clindamycin, trimethoprim-sulfamethoxazole, long-acting sulfonamides; for fungi, itraconazole, ketaconazole, or voriconazole.
surgical extraction of adult worms from the eye. saes can be reduced by coadministering antihistamines or steroids.
supportive, there is no specific treatment.
prevent intimate contact with cases and contamination of environment from lesions.
lpai viruses naturally circulate in wild birds, principally waterfowl and gulls, in which they generally cause no symptoms.
penicillium marneffei
inhalation of contaminated aerosols generated from infected animal body fluids or dust contaminated with dried animal excretions.
treatment of uncomplicated b. quintana bacteremia is with a macrolide (erythromycin, azithromycin) or doxycyclin. third-generation cephalosporin or gentamicin for the first 2–3 weeks
chronic, painless skin nodule that progresses to a severe,deforming ulcer. skin lesions may also appear; osteomyelitis
for c. philippinensis: eggs are passed in the stools of humans and fish-eating birds; ingestion of raw or undercooked fish results in infection of the human and bird host. the adults of c. philippinensis reside in the mucosa of the human small intestine, where the females lay eggs.
tetracycline, doxyxyline. alternative: chloramphenicol.
classically meningococcal meningitis presents with fever, headache, neck stiffness, photophobia, nausea, and vomiting.
many species of mosquitoes of the genera aedes, mansonia, culex, and anopheles.
for s. stercoralis: mainly humans
treponema pallidum ssp. endemicum (bejel), t. pallidum ssp. pertenue (yaws), and t. carateum (pinta)
the global dengue distribution follows vector presence and introduction of the virus, and occurs basically between the 10 c isotherms.
rabbit fever, deerfly fever, hare fever, lemming fever, ohara fever, francis disease.
coryza and a mild, persistent cough that progresses to paroxysms of violent coughing. serious complications include pneumonia, seizures, cerebral hypoxia, and encephalopathy.
vaccination of people at high risk (veterinarians, animal rescue personnel, laboratory staff, etc.), avoid contact with stray dogs or cats, sick or dead wildlife; vaccinate all dogs and cats; distribute baits containing oral vaccine in wildlife habitat; quarantine dogs arriving from infected countries. culling of stray dogs is ineffective; sterilization prevents replacement breeding.
occupational hygiene by the use of protective clothing and avoiding contaminated surface waters. chemoprophylaxis for adventure travelers, military personnel who visit endemic areas, and after an accidental lab exposure.
tick-small mammals and birds-tick; large mammals are necessary to maintain tick populations.
clinical diagnosis of active disease by presence of follicles and papillae on the conjunctival epithelium of the upper eyelid.
o. viverrini: usually asymptomatic. occasionally abdominal pain, flatulence, fatigue, mild hepatomegaly, jaundice, and cholangitis. o. felineus: fever and hepatitis-like symptoms in the acute stage
microscopy of respiratory secretions, pleural fluid, tissue. coccidioidal serologic tests; cocciodin or spherulin skin test
biopsy specimen by microscopy; pcr tests have been developed; culture of promastigotes
wear impermeable gloves when handling or skinning rodents or lagomorphs; cook wild game well; avoid drinking water from untreated sources; wear long-sleeved clothes and use repellent
principally in india and sub saharan africa. asia and south america have lower bancroftian filariasis prevalences (below 8%) than sub saharan africa (up to 37%) and pacific island (up to 48%) regions.
mainly skin contact with fecally contaminated soil, but oral transmission cannot be excluded.
lockjaw.
penicilliosis is a common opportunistic infection in hiv patients in southeast asia. the disease has a seasonal pattern with more cases during the rainy season.
supportive and antibiotics: oral doxycycline, ampicillin or amoxicillin for mild disease, parenteral penicillin g, ceftriaxone or cefotaxime for severe disease.
bite of infective female sandfly; potential transmission via organ transplantation.
the fungus grows as a mycelium in the environment and in human or animal tissue it converts into a budding yeast.
supportive, there is no specific treatment.
lagomorphs and rodents (ground squirrels). aquatic rodents (beavers, muskrats), hares and small rodents
virus detection in blood or tissue by culture or rt-pcr
humans.
consumption of raw or undercooked uneviscerated fish that have ingested infected feces of humans or waterfowl.
often asymptomatic in healthy individuals. symptomatic cases: fever, chills, myalgia, fatigue, and jaundice, hemolytic anemia; severe cases: retinal infarctions, ecchymoses and petechiae, acute respiratory failure, congestive heart failure, dic, liver and renal failure, and splenic rupture
supportive; ribavirin is effective if given within the first 6 days; dialysis if indicated.
microfilariae in human blood are ingested by a vector mosquito. larvae are deposited onto the skin and invade through the wound made at the next mosquito feed.  in humans, they travel via thelymphatics, when adults they form ‘nests’ and produce microfilariae
the fungus can be isolated from nine-banded armadillos (dasypus novemcinctus). the disease has also been reported in dogs and other animals.
mosquitoes (aedes and culex spp.).
supportive care; ribavirin iv is effective if given within the first 6 days after infection. there is no vaccine.
removal of breeding sites in any type of container that holds water (e.g. vase, tire).
female phlebotomine sandflies
alveolar or multilocular echinococcosis.
argentinian (junin virus), bolivian (machupo virus), brazilian (sabia virus), and venezuelan (guanarito virus) hemorrhagic fevers.
sometimes biphasic, severe headache, myalgia, arthralgia, retro-orbital pain, anorexia, nausea, vomiting and a maculopapular rash (not easily seen on dark skin)
sudden onset of joint pain; fatigue, marked arthralgia and myalgia in more than 40%, stiff and swollen joints in 60–85% of cases; anorexia
brucella spp. is introduced into animals via inhalation, broken skin, or mucosa and invades local lymph nodes. vacteria are shedded into the environment by milk, urine, and uterine discharge, leading to new infections in exposed animals and humans.
use closed footwear; thoroughly clean penetrating wounds in endemic areas.
the highest prevalences are found in africa and asia. egypt has the highest hcv prevalence rate (22%), likely due to a national schistosomiasis treatment campaign since the 1960s that re-used needles.
animal to animal, with occasional spill over to humans. sustained human-to-human transmission has not been documented.
plasmodium vivax
coccidioides immitis (californian) and c. posadasii (noncalifornian)
monkeys
leucosphyrus group of anophelines
hookworm eggs hatch in the soil and develop to infective larvae (l3) that can penetrate the skin. after mating, the female hookworms produce up to 30,000 eggs per day that are shedded with the stools into the environment.
a single stranded rna virus, genus hepatovirus in the family picornaviridae.
common symptoms include fever, malaise, weight loss, and sweats. cough may be prominent. symptoms can come and go. splenomegaly, hepatomegaly, and lymphadenopathy are common findings.
a combination of several arvs is recommended, known as highly active antiretroviral therapy (haart). 
blood or bone marrow culture and other infected bodily tissues (urine, csf); serology; pcr.
a large number of infective mosquito bites are necessary to establish infection.
strongyloides stercoralis
the cestode diphyllobothrium latum (fish or broad tapeworm)
bite of infected larval mites (chiggers).
since the virus has a jungle cycle, environmental insecticide spraying is not feasible; routine personal anti-mosquito measures are indicated.
wildlife–tick–wildlife. the tick ingests infected blood of reservoir host, virus passes from gut to hemocoele to salivary glands and is transmitted to a new host at the next feed.
humans.
the principle vector is the human body louse (pediculus humanus corporis), which lives in clothes.
serology (eia, recombinant immunoblot assay (riba)); rt-pcr on plasma; quanititative rt-pcr to monitor treatment; genotyping; liver biopsy for histology to assess disease stage and activity.
rotavirus
streptococcus pneumoniae (pneumococcus)
intestinal capillariasis, pudoc mystery disease, wasting disease.
uruma fever.
elisa or ifa, confirmed by igm and igg western or striped blot test.
the disease mainly affects the skin, peripheral nerves, mucosa of the upper respiratory tract and the eyes. patients are classified as having either pl or ml. pl is milder and characterized by < 5 skin patches or lesions. ml is defined as 5 skin patches or lesions.
in the early 20th century diphtheria was the leading cause of death in children aged 4–10 years in europe, and many countries experienced large diphtheria outbreaks during world war ii. since 1990, diphtheria outbreaks have also occurred in africa, the middle east, asia, and south america.
lfv was isolated from a missionary nurse living in lassa, nigeria, in 1969. 
who recommended regimen (directly observed treatment short-course or dots) is 2 months of rifampicin, isoniazid, pyrazinamide, and ethambutol, followed by 4 months of rifampicin plus isoniazid.
the majority of deaths (95%) occurred in africa and asia. interventions should be targeted on countries with large populations and moderate incidence, and countries with high incidence and mortality.
hendra virus and nipah virus are negative-stranded rna viruses, and comprise the henipavirus genus within the family paramyxoviridae.
freshwater operculate snails
buruli ulcer is named after buruli county in uganda, where the disease was common in the 1960s. the disease is reported in 30 countries with tropical climates, but it may occur in some temperate regions.
chikungunya means ‘that which bends up’ in makonde language, to describe the pain.
mycobacterium ulcerans
anisakiasis, pseudaterranovosis, cod worm disease, herring worm disease, whaleworm disease, and sealworm disease.
hemorrhagic fever, jungle yellow fever, urban yellow fever.
microscopic examination of sputum for eggs (acid-fast staining destroys eggs), examination of feces; elisa for serology.
rubeola, morbilli.
fever, cough, hemoptysis, and pleuritic chest pain.
respiratory droplets from people with respiratory diptheria. direct contact with discharge from the skin
there is an asexual phase in humans and a sexual phase in the vector mosquito. in the mosquito, gametocytes develop into sporozoites.
cat liver fluke disease, foodborne trematodiasis
ancylostomiasis, necatoriasis, uncinariasis, ground itch.
by arthropod bite handling or processing of infected animal carcasses or tissues, by ingestion of contaminated water, soil or food, or by inhalation of contaminated dust or aerosols.
the mosquito becomes infected when feeding on a viremic vertebrate host. after several days, the virus reaches the salivary glands and is injected into the next host during feeding.
rarely reported in the americas and europe, sporadic in parts of southeast asia, especially thailand, china, and vietnam. since s. suis is often misidentified, s. suis may be more common in certain parts of the world with high pig densities.
human.
pcr on blood or skin biopsy, or ifa on the latter
o’nyong-nyong virus (onnv), an enveloped rna virus, genus alphavirus in the family togaviridae, closely related to chikungunya virus (chikv, see chikungunya fever map).
the number of cases diagnosed in the usa has increased markedly since 1975. nearly all patients with babesia divergens infection in europe had been splenectomized and exposed to cattle. infection is seasonal (summer), coinciding with abundance of nymphal ticks in warmer months.
microscopy for eggs, larvae and/or adult worms in the stool, or in intestinal biopsies for c. philippinensis
epidemic hepatitis, infectious hepatitis, infectious jaundice, catarrhal jaundice.
uncomplicated p. falciparum malaria: artemisinin-based combination therapies (acts) severe malaria: artesunate iv or im;
trachoma is the leading infectious cause of blindness world wide and is generally a disease of poor rural communities. these communities are often in hot and dry regions. highest prevalences are found in sub-saharan africa. there is a high burden in ethiopia and sudan. in asia and central and south america, the distribution ismore focal.
for w. bancrofti: culex quinquefasciatus, anopheles spp., and aedes spp. in the pacific islands; for b. malayi: mansonia, anopheles, and aedes;
environment (soil) to human.
drain abscesses, iv ceftazidime, meropenem or imipenem
the htlv-1infected individual who tends to immunoactivation can develop htlv-associated uveitis, polymyositis, inclusion body myositis, arthritis, pulmonary infiltrative pneumonitis, sjogren syndrome and ham/tsp.
headache, nausea, vomiting, abdominal pain, and hepatomegaly.
detection of eggs in feces. adult flukes may be seen in the stools or vomit.
amplifying hosts for cvv are mainly large mammals (caribou, deer, horses, sheep)
pulmonary distomiasis, lung fluke disease
identification of intracellular amastigotes in stained smears. pcr is sensitive and specific.
minute hard ticks
mosquito bite; transovarial transmission has been demonstrated in aedes vigilax.
benznidazole, pentamidine, melarsoprol, eflornithine, suramin, and nifurtimox are effective in acute cases
rocky mountain spotted fever (rmsf), north american tick typhus, new world spotted fever, tick-borne or tick typhus, tobia fever (colombia), sao paulo fever or ‘febre maculosa’ (brazil), and fiebre manchada (mexico).
standard anti-mosquito and anti-malarial precautions.
leptospirosis has a worldwide distribution, is more common in tropical regions where it is both an occupational disease and a disease of ‘daily lives,’ mainly during heavy rainfall. most foci are found in latin america and the caribbean, india, southeast asia, oceania, and eastern europe. leptospirosis is an emerging disease in slums, especially during rainy seasons.
by tick bite
mumps is preventable by the use of live attenuated mumps virus vaccines.
undulant fever, malta fever, mediterranean fever.
serology (acute and convalescent sera) using the microscopic agglutination test (mat). pcr may provide early diagnosis.
pasteurize milk; hygienic measures in farms and slaughter houses; screening of livestock.
immunization with tetanus toxoid (inactivated tetanus toxin)
japanese encephalitis virus (jev)
use of safe water by filtering or boiling or disinfection with temephos (insecticide). avoid wading in contaminated water, especially people with an apparent worm.
probably non-human primates; the virus has been isolated from monkeys in panama and french guiana, also in the usa from a north-bound migratory bird.
by mosquito bite.
symptoms range from benign pulmonary infection (fever, chills, cough, chest pain, dyspnea), night sweats, anorexia and weight loss to progressive pulmonary or extrapulmonary disease involving skin, bones and/or joints, the central nervous system
borrelia recurrentis, at least 15 borrelia species
by bite or direct percutaneous contact, mucosal or respiratory exposure to blood, tissues, fluids or lesions of infected animals. in africa, transmission mainly occurs through butchering infected wildlife for food. person-to-person transmission probably occurs through direct contact with infected tissue/fluid, respiratory droplet spread, and indirect via contaminated objects.
the name means ‘joint-breaker’ in the acholi language of africa.
principally humans;
oral rehydration therapy (ort) using reduced osmolarity ors; antibiotics are only useful to prevent spread
giant intestinal fluke infection.
high fever, conjunctivitis, coryza, cough, maculopapular rash beginning on the face, spreading downwards to reach the hands and feet. characteristic small white spots (koplik spots) on the buccal mucosa. complications may consist of otitis media, pneumonia, laryngotracheal bronchitis (croup), blindness, severe skin infections, severe diarrhea and encephalitis, sometimes fatal.
in the usa, an average of only 6 neuroinvasive cases of eee are reported annually.
dry, sandy alkaline soil. in north america, the fungus is mainly found in the lower sonoran life zone with low rainfall and high temperatures
mosquitoes
salmonella enterica enterica serovar typhi (s. typhi)
influenza-like symptoms (fever, dry cough, chills, myalgia), headache, malaise, anorexia, nausea, abdominal discomfort with abdominal tenderness, coated tongue, and hepatosplenomegaly.
personal anti-mosquito precautions.
hard ticks (ixodidae).
sars coronavirus (sars-cov)
although sars-like coronaviruses 
especially prevalent in pig-rearing regions of southeast asia. the disease is most common in lowlands where the snail host is present. disease spread is facilitated by heavy rainfall and extensive flooding
colorado tick fever virus (ctfv)
proper cooking, or freezing of fish at 20 c for 7 days destroys the parasite. abandon use of human feces to fertilize fish ponds.
reported in the middle east, the indian subcontinent, and various parts of southeast asia.
