falciparum malaria, malaria tropica, tropical fever, blackwater fever, paludism, marsh fever.
by sexual contact.
rubella specific igm or significant rise in antibody titer in paired samples; rt-pcr or virus isolation from throat swab, or other specimens in crs.
none.
corynebacterium diphtheriae
soil with high nitrogen content, particularly areas with a lot of bird or bat guano, like barns and caves.
domestic and free living ungulates (cattle, sheep, and goats).
supportive, there is no specific treatment.
headache, fever, chills. abdominal pain, renal impairment, jaundice, and thrombocytopenia may occur.
lbrf by feces or louse gut fluid entering broken skin by scratching. tbrf: by bite or coxal fluid of infected ticks.
bancroftian filariasis, brugian filariasis, lymphatic filariasis, malayan filariasis, timorean filariasis.
loss of appetite, epigastric discomfort, rarely jaundice due to bile duct obstruction, cirrhosis, liver enlargement, ascites and edema.
ziehl–neelsen stain on smears or biopsies, culture (takes 6–12 weeks), pcr, histopathology.
fever (which may be biphasic), malaise, weakness, irritability, headache, severe pain in limbs and loins and marked anorexia; occasionally vomiting, abdominal pain, and diarrhea.
hfrs is caused by myodes-, rattus-, and apodemusborne hantaviruses.
the mites are infected by feeding on reservoir animals (small rodents), and maintain the infection throughout their life stages.
clostridium tetani
typically a cardiopulmonary infection as opposed to the primarily renal infection produced by old world hantaviruses
intraerythrocytic, protozoan parasites, babesia spp.
hydrophobia, furious rabies, paralytic (dumb) rabies, classic rabies, non-classic rabies
ova are excreted with the feces of infected animals, and develop into larvae which are ingested by squid and other invertebrates – these in turn are ingested by fish which may be eaten raw by humans.
in addition to humans, dogs and fish-eating terrestrial and marine mammals
personal anti-mosquito precautions
none.
typical skin ulcer, eschar, may develop at the site of the mite’s bite. several days later fever, headache, myalgia, and lymphadenopathy may develop
filarial nematode (roundworm), loa loa
california encephalitis, jamestown canyon encephalitis, la crosse encephalitis.
vector control; mosquito repellent; insecticidetreated bed nets; residual spraying of insecticides; treatment of infected humans.
hard ticks (ixodidae)
dengue-like acute febrile illness with chills, headache, retro-orbital pain, myalgia and severe arthralgia of the small joints of the hands and feet, sometimes nausea, vomiting and diarrhea, painful lymphadenopathies and often a maculopapular rash.
during bloodmeal, the sandfly ingests infected blood with amastigotes. in the host cell the promastigotes develop into amastigotes.
accidental ingestion of metacercariae via contaminated water, watercress, or other contaminated plants
acute watery diarrhea, severe watery diarrhea with vomiting, leading to severe dehydration
by mosquito bite. there is no direct person-toperson transmission.
hepatitis e virus (hev), a non-enveloped singlestranded rna virus, genus hepevirus, the single member in the hepeviridae family. 
ribavirin may limit the severity and improve the prognosis of lacv infections.
virus isolation from stool, csf or oropharyngeal secretion, alternatively, the diagnosis can be established by serological testing.
snails, slugs, and land planarians.
supportive
freshwater snails: biomphalaria spp. for s. mansoni, bulinus spp. for s. haematobium, s. intercalatum, and s. guineensis
tetracyclines, chloramphenicol, or penicillins for 7 days
standard anti-mosquito precautions.
direct person-to-person transmission
cases are mainly sporadic and have been reported in humid areas of the tropics and subtropics world wide, mainly during the rainy season. sporadic human infections with glanders (b. mallei), occur in equine veterinarians and pathologists, horse butchers, and laboratory workers.
serology (igm elisa, ifa of erythrocytes) and rt-pcr from the blood or csf.
conventional microscopy; blood culture; quantitative buffy coat (qbc) fluorescence; pcr.
praziquantel; surgery in case of biliary obstruction.
most present with fever and typical skin lesions. other findings are anemia, generalized lymphadenopathy, weight loss, and hepatosplenomegaly.
aquatic insects;
microscopy: in giemsa-stained blood; rapid diagnostic tests (rdts); pcr.
noma is an opportunistic infection with endogenous buccal flora.
tetanus is globally distributed but is more common in highly populated agricultural areas, and in warm and wet regions.
main transmission is fecal–oral
ebola viruses (genus ebolavirus), marburg viruses (genus marburgvirus), and ‘cueva viruses’, family filoviridae, order mononegavirales; enveloped, single-stranded, negative-sense rna viruses.
access to adequate counseling and correct information about htlv is of fundamental importance for htlv-1 seropositive individuals.
recovery of bacteria from the cerebrospinal fluid, blood or fluid from arthritic joints; culture; pcr.
type b hepatitis, serum hepatitis, homologous serum jaundice, long-incubation hepatitis.
primary hiv infection is usually a nonspecific illness with fever, headache, myalgia, fatigue, and a sore throat.
none.
(1) relapsing fever, (2) severe, migratory polyarthralgias, and (3) a peripheral, hemorrhagic maculopapular rash.
supportive
not completely understood: moist environments close to waterways, in forest or under flooring, also sandy and acidic soil and rotten vegetation.
healthy humans
most south and several central american countries between 23 n and 34 s have paracoccidioidomycosis endemic regions, particularly brazil, colombia, venezuela, and argentina.
enzyme immunoassay to detect anti hiv antibodies with confirmation by western blot. fourthgeneration hiv serology tests that consist of antibody detection and p24 antigen detection  are commonly used.rapid tests are available for field testing. viral load and hiv-1 p24 antigen may be used. cd4 cell counts and hiv viral load are used to monitor progression of infection. genotypic and phenotypic tests are used for hivdrug-resistance testing.
orientia tsutsugamushi, o. chuto.
revaccination is recommended every 10 years. anti-mosquito precautions. prevent infected individuals from mosquito exposure to break the transmission cycle.
rodents, principally rats and sylvatic ground squirrels: marmots, susliks, and prairie dogs.
serology or rt-pcr on blood or csf
rt-pcr on blood in early phase of disease; virus isolation in specialized laboratories.
soil, decaying vegetation.
intestinal tract of animals and humans, and soil.
mainly humans;
mosquito–reservoir host–mosquito. the mosquito becomes infected during feeding on a viremic reservoir host
vector control; personal protection from sandfly bites; use of deltamethrin-impregnated dog collars and dog vaccination;
visual inspection for adult worm; microscopic identification of larvae released
during bloodmeal, the sandfly ingests infected blood with amastigotes. in the host cell the promastigotes develop into amastigotes.
tabanid and stomoxys flies and mosquitoes, blow-flies
detection of virus in respiratory specimens, stool or blood by rt-pcr
animal–mosquito–animal with spillover to humans in epidemics via direct/indirect contact to infected animal tissue or mosquito bite.
humans.
virus detection by rt-pcr of respiratory specimens is recommended
community management by safe strategy
about 90% of the cases in a recent outbreak in turkey were farmers. cchfv genotypes cluster geographically, with exceptions: the asia 1 genotype has been found in madagascar, where it was possibly introduced by migrating birds, and africa 1 in the middle east, which may have been introduced with infected livestock.
bartonella bacilliformis
brucella melitensis, b. abortus, b. suis, and b. canis
each virus is associated with either one or a few closely related species of rodents
rats (rattus, particularly r. norvegicus and bandicotta spp.).
deer and dogs (e. chaffeensis, e. ewingii). the whitetailed deer. deer, ruminants, and field rodents (a. phagocytophilum);
detection of toxin in serum, stool or wound by mouse inoculation or elisa; electromyography.
high-endemic areas generally have low disease rates as most infections occur in young children, who are usually asymptomatic. in developed countries with low endemicity, outbreaks are often caused by contaminated food products, like shellfish, which can concentrate virus, and other food products that are contaminated by an infected food handler.
monkeypox virus (mpv), a double-stranded dna virus of the genus orthopoxvirus, family poxviridae.
mosquito-host-mosquito. the mosquito becomes infected when feeding on a viremic reservoir host. the virus reaches the salivary glands and is transmitted by feeding on the next host in several days.
marine mammals (definitive host), marine invertebrates (intermediate host), and fish (intermediate host).
chikv has been endemic in africa for centuries, typically causing small epidemics in rural areas. in 2005–2006 chikv spread from east africa to virgin soil in the indian ocean islands to produce epidemics affecting up to three-quarters of the population. chikv virus was imported into several european countries and caused a small outbreak with autochthonous transmission in northern italy.
spherical, enveloped, negative sense rna viruses forming a subgroup of the bunyaviridae family.
the majority of the cases present as encephalitic rabies, with hydrophobia and hyperexcitability. paralytic rabies presents with flaccid muscle weakness or as febrile encephalopathy.
leishmania species
albendazole or mebendazole.
microscopy of stained thick blood smears; membrane filtration; pcr
hendra virus: through contact with infectious body fluids, including urine, saliva, and nasal discharge, or during autopsy of infected horses.
serology: igm capture elisa on serum or csf; antibodies can be detected in csf after 4 days of disease onset, and in serum after 7 days. virus isolation or viral rna detection by rt-pcr are insensitive.
who estimates that 50,000 to 70,000 people are infected each year, with about 60 million people at risk in 36 countries. the chronic gambiense form in west and central africa accounts for 95% of cases and is seperated from rhodesiense by the great rift valley. 
symptoms are similar to smallpox, but milder: fever, headache, myalgia, backache, lymphadenopathy (not seen in smallpox), malaise, sore throat, cough, shortness of breath, followed by a vesicular-pustular rash on the face and body; the lesions eventually crust and fall off.
rvfv primarily causes disease in animals in africa and middle east, with human cases occurring during animal epidemics. rvf was initially confined to sub-saharan africa, but appeared in egypt in 1977 and was discovered on the arabian peninsula (saudi arabia and yemen) in 2000 and later also on the comoros islands.
parasite, kinetoplastida
early-stage lesions are generally infectious. the disease has a relapsing clinical course with mainly skin manifestations
humans
eggs are passed in feces into freshwater bodies, mature in about 2 to 3 weeks, depending on water temperature, and hatch ciliated larvae (coracidia). coracidia develop into procercoid larvae after ingestion by freshwater crustaceans (copepods). the copepods are eaten by a second intermediate host, typically small fish. the larvae migrate into the musculature where they develop into the human infectious plerocercoid larvae.
lice infestation (pediculosis) can be controlled by treating clothes and bedding with insecticides or boiling (bedding at shelters is a major source of lice infestation).
uncomplicated malaria: acute febrile illness with headache, chills, sweats, nausea, and vomiting; hepatosplenomegaly. severe malaria can be: cerebral malaria (confusion, seizures, impaired consciousness to coma), hemolysis, severe anemia, hypotension, renal failure, metabolic acidosis and death.
praziquantel and niclosamide are the drugs of choice
early diagnosis and treatment; safe sexual practices (condom use). proper bodily hygiene.
virus can be isolated or rna detected in acute blood by rt-pcr.
the skin lesion usually on the head, forearms or hands, malaise and fever. gi anthrax produces nausea, vomiting, abdominal pain, fever, hematemesis, occasionally bloody diarrhea and often fatal septicemia and shock. inhalation anthrax is rapidly progressive and starts with fever, malaise and mild cough and chest pain, evolving to acute respiratory distress, diagnostic mediastinal widening, cyanosis and shock
fox–rodent–fox (sylvatic cycle).
the diagnosis is based on characteristic clinical features
rhabdovirus
ceftriaxone, vancomycin, dexamethasone 
bartonella quintana
simian variola.
supportive.
bird flu, avian influenza, highly pathogenic avian influenza, h5n1.
most infections are asymptomatic or mild. symptoms are: abdominal discomfort, diarrhea, vomiting and weight loss, rarely anemia.
cattle with bovine spongiform encephalopathy.
vector control; mosquito repellent; insecticidetreated bed nets; treatment of infected humans.
humans.
epidemic non-a non-b hepatitis, fecal–oral non-a non-b hepatitis, enterically transmitted nona non-b hepatitis.
fasciolopsis buski
cave disease, ohio valley disease, reticuloendotheliosis, african histoplasmosis.
streptomycin is recommended, with gentamicin as an alternative.
serology (igm elisa, ifa); rt-pcr. virus isolation is difficult.
supportive, aspirin should be avoided.
mayaro virus (mayv), an enveloped, single-stranded, positive sense rna virus, genus alphavirus in the family togaviridae, belonging to the semliki forest virus complex.
none. diagnosis is made by clinical examination.
yersinia pestis
gram stain and culture of csf, blood, or synovial fluid. pcr from normally sterile site
paracoccidioides brasiliensis, a dimorphic fungus.
leptospira chronically colonize the proximal renal tubules of many animals and are excreted in the urine into the environment.
world wide, but close to elimination in the americas and targeted for elimination in europe by 2015. in the absence of vaccination the prevalence of rubella infection by the age of 13 years ranges from 20 to 95%, but is most often over 50%. reported data on clinical rubella are a vast underestimate since it is a mild disease with a clinical picture similar to several other infections.
viremic reservoir host to mosquito during feeding
wnv was cultured for the first time from a woman with a fever of unknown origin in the west nile district of uganda in 1937. molecular studies suggest that wnv emerged in africa and spread through migrating waterbirds. until the introduction of wnv in new york in 1999, wnv infections usually caused mild disease outbreaks and episodes of neuroinvasive disease in the old world. since the introduction to northeast america, the virus has spread to most regions in north america, canada, mexico, the caribbean and several cases in south america.
pcr is able to distinguish between these species; stool antigen tests can identify e. histolytica.
sudden onset of high fever (biphasic), chills, myalgia, arthralgia, severe headache, ocular pain, conjunctivitis, anorexia, nausea, and sometimes vomiting.
rotavirus diarrhea, acute viral gastroenteritis, severe viral gastroenteritis.
serology; pcr on acute phase whole blood; isolation by cell culture in reference labs.
possibly in the soil the fungus produces infective propagula that can become airborne, inhaled, and lead to respiratory infection.
lassa fever virus (lfv), a spherical, enveloped, bisegmented negative strand rna virus of the genus arenavirus in the family arenaviridae.
by bite of an infected phlebotomine sandfly.
mosquito to reservoir animal to mosquito. there is an enzootic cycle, mainly between c. taralsis and passerine birds. there is a secondary cycle that involves rabbits. viremia lasts 2–5 days in birds. extrinsic cycle in the mosquito lasts up to 7 days but transmission can occur in as little as 4 days.
light-colored clothing with long sleeves mosquito repellents containing deet on exposed skin, avoid as much as possible outdoor activities at dawn and dusk, and removal of mosquito-breeding sites from around the home.
infective sporozoites are inoculated by the bite of anopheles mosquitoes and through the bloodstream and lymphatics reach the liver where they differentiate into tissue schizonts that release merozoites. some merozoites develop into gametocytes that are able to infect mosquitoes during a blood meal.
by tick bite, blood transfusion; bone marrow for transplantation is routinely screened
soil, animal hair, wool or hides, particularly goat skins contaminated with soil.
bilharziasis, katayama fever or syndrome, urogenital and intestinal schistosomiasis.
zika virus is present in the tropical regions in the old world and is absent from the americas (a single case in the usa was imported from yap island). the competence of mosquitoes on the american continent for zika virus is unknown. the geographic distribution is confirmed by virus isolation from cases, mosquitoes and sentinel monkeys.
infective larvae migrate out of the mouth part of the fly during bite onto the skin and subsequently enter the wound.
the tick feeds on an infected host, the virusmultipliesin the tick’s midgut and spreads to the salivary glands, to be injected into another host at the next feed, where it infects erythrocytes. 
humans are the main reservoir.
through inhalation of aerosolized microconidia from disturbed soil or guano. also by inoculation and organ transplantation.
trematode worms schistosoma japonicum, s. malayensis, and s. mekongi.
search for ticks on the whole body daily and remove them without crushing. use tick repellent on skin and an acaricide on clothing.
igm elisa, rt-pcr, virus isolation from blood, urine, or throat washing, seroconversion to igg positive.
self-limiting disease.
none.
loiasis occurs in areas where the chrysops vectors breed in the tropical rainforest of central africa
trypanosoma cruzi, a protozoan, with a flagellate form in the bloodstream and an intracellular form without flagellum.
ticks introduce babesia spp. sporozoites from the ticks’ salivary glands into small mammals/humans during feeding. the sporozoites infect erythrocytes in which they asexually reproduce by budding and develop through various stages into gametocytes.
anthrax has a worldwide distribution. anthrax occurs mainly in rural areas in countries where there is no livestock vaccination and no veterinary control of slaughtered animals. of note is the terrorist distribution of anthrax powder by mail in the usa in 2001 killed 5 people.
igm antibody detection in csf (in serum may not be from the current infection), neutralization test on paired acute and convalescent sera
tb is a major cause of death and disability world wide, especially in developing countries. morbidity is higher in urban populations, among the poor, and in closed institutions such as prisons and military barracks.
the highest global burden of cl is in the old world. in the americas, bolivia, brazil, and peru have the highest burden of cl. transmision can also occur in deforested areas.
need to treat both p. vivax blood and liver stage.
characterized by high fever of 2–7 days. initial symptoms include generalized body aches, myalgias, arthralgias, headache, chills, sweats, and a transitory rash. later symptoms may include nausea, vomiting, dry cough, photophobia, neck pain, conjunctivitis, jaundice, hepatosplenomegaly, confusion
