leptospira chronically colonize the proximal renal tubules of many animals and are excreted in the urine into the environment.
for c. philippinensis: eggs are passed in the stools of humans and fish-eating birds; ingestion of raw or undercooked fish results in infection of the human and bird host. the adults of c. philippinensis reside in the mucosa of the human small intestine, where the females lay eggs.
not completely understood: moist environments close to waterways, in forest or under flooring, also sandy and acidic soil and rotten vegetation.
tb is a major cause of death and disability world wide, especially in developing countries. morbidity is higher in urban populations, among the poor, and in closed institutions such as prisons and military barracks.
sometimes biphasic, severe headache, myalgia, arthralgia, retro-orbital pain, anorexia, nausea, vomiting and a maculopapular rash (not easily seen on dark skin)
revaccination is recommended every 10 years. anti-mosquito precautions. prevent infected individuals from mosquito exposure to break the transmission cycle.
humans.
the cestode diphyllobothrium latum (fish or broad tapeworm)
microfilariae in human blood are ingested by a vector mosquito. larvae are deposited onto the skin and invade through the wound made at the next mosquito feed.  in humans, they travel via thelymphatics, when adults they form ‘nests’ and produce microfilariae
the highest global burden of cl is in the old world. in the americas, bolivia, brazil, and peru have the highest burden of cl. transmision can also occur in deforested areas.
principally in india and sub saharan africa. asia and south america have lower bancroftian filariasis prevalences (below 8%) than sub saharan africa (up to 37%) and pacific island (up to 48%) regions.
in the early 20th century diphtheria was the leading cause of death in children aged 4–10 years in europe, and many countries experienced large diphtheria outbreaks during world war ii. since 1990, diphtheria outbreaks have also occurred in africa, the middle east, asia, and south america.
mosquitoes (aedes and culex spp.).
infective sporozoites are inoculated by the bite of anopheles mosquitoes and through the bloodstream and lymphatics reach the liver where they differentiate into tissue schizonts that release merozoites. some merozoites develop into gametocytes that are able to infect mosquitoes during a blood meal.
blood or bone marrow culture and other infected bodily tissues (urine, csf); serology; pcr.
none.
rotavirus
intestinal capillariasis, pudoc mystery disease, wasting disease.
detection of toxin in serum, stool or wound by mouse inoculation or elisa; electromyography.
trypanosoma cruzi, a protozoan, with a flagellate form in the bloodstream and an intracellular form without flagellum.
coryza and a mild, persistent cough that progresses to paroxysms of violent coughing. serious complications include pneumonia, seizures, cerebral hypoxia, and encephalopathy.
hydrophobia, furious rabies, paralytic (dumb) rabies, classic rabies, non-classic rabies
elisa or ifa, confirmed by igm and igg western or striped blot test.
classically meningococcal meningitis presents with fever, headache, neck stiffness, photophobia, nausea, and vomiting.
who estimates that 50,000 to 70,000 people are infected each year, with about 60 million people at risk in 36 countries. the chronic gambiense form in west and central africa accounts for 95% of cases and is seperated from rhodesiense by the great rift valley. 
lfv was isolated from a missionary nurse living in lassa, nigeria, in 1969. 
the fungus grows as a mycelium in the environment and in human or animal tissue it converts into a budding yeast.
by bite of an infected phlebotomine sandfly.
plasmodium vivax
corynebacterium diphtheriae
supportive, aspirin should be avoided.
the mites are infected by feeding on reservoir animals (small rodents), and maintain the infection throughout their life stages.
dengue-like acute febrile illness with chills, headache, retro-orbital pain, myalgia and severe arthralgia of the small joints of the hands and feet, sometimes nausea, vomiting and diarrhea, painful lymphadenopathies and often a maculopapular rash.
a combination of several arvs is recommended, known as highly active antiretroviral therapy (haart). 
virus detection by rt-pcr of respiratory specimens is recommended
by arthropod bite handling or processing of infected animal carcasses or tissues, by ingestion of contaminated water, soil or food, or by inhalation of contaminated dust or aerosols.
cat liver fluke disease, foodborne trematodiasis
ebola viruses (genus ebolavirus), marburg viruses (genus marburgvirus), and ‘cueva viruses’, family filoviridae, order mononegavirales; enveloped, single-stranded, negative-sense rna viruses.
chikungunya means ‘that which bends up’ in makonde language, to describe the pain.
tetanus is globally distributed but is more common in highly populated agricultural areas, and in warm and wet regions.
rarely reported in the americas and europe, sporadic in parts of southeast asia, especially thailand, china, and vietnam. since s. suis is often misidentified, s. suis may be more common in certain parts of the world with high pig densities.
human.
chronic, painless skin nodule that progresses to a severe,deforming ulcer. skin lesions may also appear; osteomyelitis
treatment of uncomplicated b. quintana bacteremia is with a macrolide (erythromycin, azithromycin) or doxycyclin. third-generation cephalosporin or gentamicin for the first 2–3 weeks
soil, decaying vegetation.
tabanid and stomoxys flies and mosquitoes, blow-flies
o’nyong-nyong virus (onnv), an enveloped rna virus, genus alphavirus in the family togaviridae, closely related to chikungunya virus (chikv, see chikungunya fever map).
personal anti-mosquito precautions
the number of cases diagnosed in the usa has increased markedly since 1975. nearly all patients with babesia divergens infection in europe had been splenectomized and exposed to cattle. infection is seasonal (summer), coinciding with abundance of nymphal ticks in warmer months.
epidemic hepatitis, infectious hepatitis, infectious jaundice, catarrhal jaundice.
during bloodmeal, the sandfly ingests infected blood with amastigotes. in the host cell the promastigotes develop into amastigotes.
fever (which may be biphasic), malaise, weakness, irritability, headache, severe pain in limbs and loins and marked anorexia; occasionally vomiting, abdominal pain, and diarrhea.
trachoma is the leading infectious cause of blindness world wide and is generally a disease of poor rural communities. these communities are often in hot and dry regions. highest prevalences are found in sub-saharan africa. there is a high burden in ethiopia and sudan. in asia and central and south america, the distribution ismore focal.
prevent intimate contact with cases and contamination of environment from lesions.
microscopy for eggs, larvae and/or adult worms in the stool, or in intestinal biopsies for c. philippinensis
control deer population; avoid areas with ticks; tick bite precautions: cover skin, repellent on skin and clothing
lagomorphs and rodents (ground squirrels). aquatic rodents (beavers, muskrats), hares and small rodents
uruma fever.
the htlv-1infected individual who tends to immunoactivation can develop htlv-associated uveitis, polymyositis, inclusion body myositis, arthritis, pulmonary infiltrative pneumonitis, sjogren syndrome and ham/tsp.
bartonella quintana
chikv has been endemic in africa for centuries, typically causing small epidemics in rural areas. in 2005–2006 chikv spread from east africa to virgin soil in the indian ocean islands to produce epidemics affecting up to three-quarters of the population. chikv virus was imported into several european countries and caused a small outbreak with autochthonous transmission in northern italy.
wear impermeable gloves when handling or skinning rodents or lagomorphs; cook wild game well; avoid drinking water from untreated sources; wear long-sleeved clothes and use repellent
monkeypox virus (mpv), a double-stranded dna virus of the genus orthopoxvirus, family poxviridae.
amplifying hosts for cvv are mainly large mammals (caribou, deer, horses, sheep)
none.
use closed footwear; thoroughly clean penetrating wounds in endemic areas.
identification of intracellular amastigotes in stained smears. pcr is sensitive and specific.
by mosquito bite. there is no direct person-toperson transmission.
mycobacterium ulcerans
healthy humans
rocky mountain spotted fever (rmsf), north american tick typhus, new world spotted fever, tick-borne or tick typhus, tobia fever (colombia), sao paulo fever or ‘febre maculosa’ (brazil), and fiebre manchada (mexico).
penicillium marneffei
standard anti-mosquito and anti-malarial precautions.
bite of infective female sandfly; potential transmission via organ transplantation.
leptospirosis has a worldwide distribution, is more common in tropical regions where it is both an occupational disease and a disease of ‘daily lives,’ mainly during heavy rainfall. most foci are found in latin america and the caribbean, india, southeast asia, oceania, and eastern europe. leptospirosis is an emerging disease in slums, especially during rainy seasons.
sudden onset of joint pain; fatigue, marked arthralgia and myalgia in more than 40%, stiff and swollen joints in 60–85% of cases; anorexia
by tick bite
fasciolopsis buski
domestic and free living ungulates (cattle, sheep, and goats).
serology (acute and convalescent sera) using the microscopic agglutination test (mat). pcr may provide early diagnosis.
pasteurize milk; hygienic measures in farms and slaughter houses; screening of livestock.
immunization with tetanus toxoid (inactivated tetanus toxin)
headache, nausea, vomiting, abdominal pain, and hepatomegaly.
probably non-human primates; the virus has been isolated from monkeys in panama and french guiana, also in the usa from a north-bound migratory bird.
praziquantel; surgery in case of biliary obstruction.
symptoms range from benign pulmonary infection (fever, chills, cough, chest pain, dyspnea), night sweats, anorexia and weight loss to progressive pulmonary or extrapulmonary disease involving skin, bones and/or joints, the central nervous system
supportive, there is no specific treatment.
undulant fever, malta fever, mediterranean fever.
by bite or direct percutaneous contact, mucosal or respiratory exposure to blood, tissues, fluids or lesions of infected animals. in africa, transmission mainly occurs through butchering infected wildlife for food. person-to-person transmission probably occurs through direct contact with infected tissue/fluid, respiratory droplet spread, and indirect via contaminated objects.
anthrax has a worldwide distribution. anthrax occurs mainly in rural areas in countries where there is no livestock vaccination and no veterinary control of slaughtered animals. of note is the terrorist distribution of anthrax powder by mail in the usa in 2001 killed 5 people.
mosquito to reservoir animal to mosquito. there is an enzootic cycle, mainly between c. taralsis and passerine birds. there is a secondary cycle that involves rabbits. viremia lasts 2–5 days in birds. extrinsic cycle in the mosquito lasts up to 7 days but transmission can occur in as little as 4 days.
streptomycin is recommended, with gentamicin as an alternative.
ancylostomiasis, necatoriasis, uncinariasis, ground itch.
pcr on blood or skin biopsy, or ifa on the latter
for w. bancrofti: culex quinquefasciatus, anopheles spp., and aedes spp. in the pacific islands; for b. malayi: mansonia, anopheles, and aedes;
giant intestinal fluke infection.
high fever, conjunctivitis, coryza, cough, maculopapular rash beginning on the face, spreading downwards to reach the hands and feet. characteristic small white spots (koplik spots) on the buccal mucosa. complications may consist of otitis media, pneumonia, laryngotracheal bronchitis (croup), blindness, severe skin infections, severe diarrhea and encephalitis, sometimes fatal.
in the usa, an average of only 6 neuroinvasive cases of eee are reported annually.
animal to animal, with occasional spill over to humans. sustained human-to-human transmission has not been documented.
dry, sandy alkaline soil. in north america, the fungus is mainly found in the lower sonoran life zone with low rainfall and high temperatures
accidental ingestion of metacercariae via contaminated water, watercress, or other contaminated plants
mosquitoes
inhalation of contaminated aerosols generated from infected animal body fluids or dust contaminated with dried animal excretions.
for bacteria, clindamycin, trimethoprim-sulfamethoxazole, long-acting sulfonamides; for fungi, itraconazole, ketaconazole, or voriconazole.
influenza-like symptoms (fever, dry cough, chills, myalgia), headache, malaise, anorexia, nausea, abdominal discomfort with abdominal tenderness, coated tongue, and hepatosplenomegaly.
hepatitis e virus (hev), a non-enveloped singlestranded rna virus, genus hepevirus, the single member in the hepeviridae family. 
personal anti-mosquito precautions.
supportive
sars coronavirus (sars-cov)
although sars-like coronaviruses 
especially prevalent in pig-rearing regions of southeast asia. the disease is most common in lowlands where the snail host is present. disease spread is facilitated by heavy rainfall and extensive flooding
colorado tick fever virus (ctfv)
the disease mainly affects the skin, peripheral nerves, mucosa of the upper respiratory tract and the eyes. patients are classified as having either pl or ml. pl is milder and characterized by < 5 skin patches or lesions. ml is defined as 5 skin patches or lesions.
world wide, but close to elimination in the americas and targeted for elimination in europe by 2015. in the absence of vaccination the prevalence of rubella infection by the age of 13 years ranges from 20 to 95%, but is most often over 50%. reported data on clinical rubella are a vast underestimate since it is a mild disease with a clinical picture similar to several other infections.
yersinia pestis
reported in the middle east, the indian subcontinent, and various parts of southeast asia.
