rvfv primarily causes disease in animals in africa and middle east, with human cases occurring during animal epidemics. rvf was initially confined to sub-saharan africa, but appeared in egypt in 1977 and was discovered on the arabian peninsula (saudi arabia and yemen) in 2000 and later also on the comoros islands.
vector control; personal protection from sandfly bites; use of deltamethrin-impregnated dog collars and dog vaccination;
vector control; mosquito repellent; insecticidetreated bed nets; residual spraying of insecticides; treatment of infected humans.
o. viverrini: usually asymptomatic. occasionally abdominal pain, flatulence, fatigue, mild hepatomegaly, jaundice, and cholangitis. o. felineus: fever and hepatitis-like symptoms in the acute stage
cattle with bovine spongiform encephalopathy.
respiratory droplets from people with respiratory diptheria. direct contact with discharge from the skin
filarial nematode (roundworm), loa loa
serology or rt-pcr on blood or csf
domestic and peridomestic rodent control, disinfection of rodent-contaminated areas.
visual inspection for adult worm; microscopic identification of larvae released
hendra virus and nipah virus are negative-stranded rna viruses, and comprise the henipavirus genus within the family paramyxoviridae.
symptoms are similar to smallpox, but milder: fever, headache, myalgia, backache, lymphadenopathy (not seen in smallpox), malaise, sore throat, cough, shortness of breath, followed by a vesicular-pustular rash on the face and body; the lesions eventually crust and fall off.
pcr is able to distinguish between these species; stool antigen tests can identify e. histolytica.
supportive and antibiotics: oral doxycycline, ampicillin or amoxicillin for mild disease, parenteral penicillin g, ceftriaxone or cefotaxime for severe disease.
serology: igm capture elisa on serum or csf; antibodies can be detected in csf after 4 days of disease onset, and in serum after 7 days. virus isolation or viral rna detection by rt-pcr are insensitive.
most infections are asymptomatic or mild. symptoms are: abdominal discomfort, diarrhea, vomiting and weight loss, rarely anemia.
infective larvae migrate out of the mouth part of the fly during bite onto the skin and subsequently enter the wound.
snails, slugs, and land planarians.
wnv was cultured for the first time from a woman with a fever of unknown origin in the west nile district of uganda in 1937. molecular studies suggest that wnv emerged in africa and spread through migrating waterbirds. until the introduction of wnv in new york in 1999, wnv infections usually caused mild disease outbreaks and episodes of neuroinvasive disease in the old world. since the introduction to northeast america, the virus has spread to most regions in north america, canada, mexico, the caribbean and several cases in south america.
microscopy of stained thick blood smears; membrane filtration; pcr
direct person-to-person transmission
humans.
humans.
igm elisa, rt-pcr, virus isolation from blood, urine, or throat washing, seroconversion to igg positive.
zika virus is present in the tropical regions in the old world and is absent from the americas (a single case in the usa was imported from yap island). the competence of mosquitoes on the american continent for zika virus is unknown. the geographic distribution is confirmed by virus isolation from cases, mosquitoes and sentinel monkeys.
humans
virus can be isolated or rna detected in acute blood by rt-pcr.
deer and dogs (e. chaffeensis, e. ewingii). the whitetailed deer. deer, ruminants, and field rodents (a. phagocytophilum);
lice infestation (pediculosis) can be controlled by treating clothes and bedding with insecticides or boiling (bedding at shelters is a major source of lice infestation).
standard anti-mosquito precautions.
most present with fever and typical skin lesions. other findings are anemia, generalized lymphadenopathy, weight loss, and hepatosplenomegaly.
brucella melitensis, b. abortus, b. suis, and b. canis
tetracyclines, chloramphenicol, or penicillins for 7 days
in addition to humans, dogs and fish-eating terrestrial and marine mammals
mosquito–reservoir host–mosquito. the mosquito becomes infected during feeding on a viremic reservoir host
aedes africanus, ae. apicoargenteus, ae. luteocephalus, ae. aegypti, ae. vittatus, and ae. furcifer mosquitoes
vaccination of people at high risk (veterinarians, animal rescue personnel, laboratory staff, etc.), avoid contact with stray dogs or cats, sick or dead wildlife; vaccinate all dogs and cats; distribute baits containing oral vaccine in wildlife habitat; quarantine dogs arriving from infected countries. culling of stray dogs is ineffective; sterilization prevents replacement breeding.
conventional microscopy; blood culture; quantitative buffy coat (qbc) fluorescence; pcr.
typical skin ulcer, eschar, may develop at the site of the mite’s bite. several days later fever, headache, myalgia, and lymphadenopathy may develop
light-colored clothing with long sleeves mosquito repellents containing deet on exposed skin, avoid as much as possible outdoor activities at dawn and dusk, and removal of mosquito-breeding sites from around the home.
orientia tsutsugamushi, o. chuto.
albendazole or mebendazole.
sudden onset of high fever (biphasic), chills, myalgia, arthralgia, severe headache, ocular pain, conjunctivitis, anorexia, nausea, and sometimes vomiting.
aquatic insects;
(1) relapsing fever, (2) severe, migratory polyarthralgias, and (3) a peripheral, hemorrhagic maculopapular rash.
characterized by high fever of 2–7 days. initial symptoms include generalized body aches, myalgias, arthralgias, headache, chills, sweats, and a transitory rash. later symptoms may include nausea, vomiting, dry cough, photophobia, neck pain, conjunctivitis, jaundice, hepatosplenomegaly, confusion
a single stranded rna virus, genus hepatovirus in the family picornaviridae.
ribavirin may limit the severity and improve the prognosis of lacv infections.
since the virus has a jungle cycle, environmental insecticide spraying is not feasible; routine personal anti-mosquito measures are indicated.
viremic reservoir host to mosquito during feeding
trematode worms schistosoma japonicum, s. malayensis, and s. mekongi.
during bloodmeal, the sandfly ingests infected blood with amastigotes. in the host cell the promastigotes develop into amastigotes.
soil with high nitrogen content, particularly areas with a lot of bird or bat guano, like barns and caves.
parasite, kinetoplastida
humans are the main reservoir.
lockjaw.
leucosphyrus group of anophelines
care needs to be taken in loiasis endemic areas to prevent adverse events; vector control (e.g. bed nets, repellent).
igm antibody detection in csf (in serum may not be from the current infection), neutralization test on paired acute and convalescent sera
mosquito-host-mosquito. the mosquito becomes infected when feeding on a viremic reservoir host. the virus reaches the salivary glands and is transmitted by feeding on the next host in several days.
by tick bite, blood transfusion; bone marrow for transplantation is routinely screened
rabbit fever, deerfly fever, hare fever, lemming fever, ohara fever, francis disease.
a large number of infective mosquito bites are necessary to establish infection.
cave disease, ohio valley disease, reticuloendotheliosis, african histoplasmosis.
human-deer-fly-human.
supportive, there is no specific treatment.
lbrf by feces or louse gut fluid entering broken skin by scratching. tbrf: by bite or coxal fluid of infected ticks.
lassa fever virus (lfv), a spherical, enveloped, bisegmented negative strand rna virus of the genus arenavirus in the family arenaviridae.
bancroftian filariasis, brugian filariasis, lymphatic filariasis, malayan filariasis, timorean filariasis.
cases are mainly sporadic and have been reported in humid areas of the tropics and subtropics world wide, mainly during the rainy season. sporadic human infections with glanders (b. mallei), occur in equine veterinarians and pathologists, horse butchers, and laboratory workers.
intraerythrocytic, protozoan parasites, babesia spp.
by sexual contact.
hard ticks (ixodidae)
none. diagnosis is made by clinical examination.
for s. stercoralis: mainly humans
microscopy of respiratory secretions, pleural fluid, tissue. coccidioidal serologic tests; cocciodin or spherulin skin test
world wide, but the epidemiology of the meningococcal meningitis is regionally heterogeneous and dynamic.
consumption of raw or undercooked uneviscerated fish that have ingested infected feces of humans or waterfowl.
praziquantel and niclosamide are the drugs of choice
occupational hygiene by the use of protective clothing and avoiding contaminated surface waters. chemoprophylaxis for adventure travelers, military personnel who visit endemic areas, and after an accidental lab exposure.
tick-small mammals and birds-tick; large mammals are necessary to maintain tick populations.
clinical diagnosis of active disease by presence of follicles and papillae on the conjunctival epithelium of the upper eyelid.
virus isolation from stool, csf or oropharyngeal secretion, alternatively, the diagnosis can be established by serological testing.
paracoccidioides brasiliensis, a dimorphic fungus.
humans, dogs, cats, pigs, cattle, water buffalo and wild rodents
loss of appetite, epigastric discomfort, rarely jaundice due to bile duct obstruction, cirrhosis, liver enlargement, ascites and edema.
mainly skin contact with fecally contaminated soil, but oral transmission cannot be excluded.
high-endemic areas generally have low disease rates as most infections occur in young children, who are usually asymptomatic. in developed countries with low endemicity, outbreaks are often caused by contaminated food products, like shellfish, which can concentrate virus, and other food products that are contaminated by an infected food handler.
rodents, principally rats and sylvatic ground squirrels: marmots, susliks, and prairie dogs.
enzyme immunoassay to detect anti hiv antibodies with confirmation by western blot. fourthgeneration hiv serology tests that consist of antibody detection and p24 antigen detection  are commonly used.rapid tests are available for field testing. viral load and hiv-1 p24 antigen may be used. cd4 cell counts and hiv viral load are used to monitor progression of infection. genotypic and phenotypic tests are used for hivdrug-resistance testing.
supportive, there is no specific treatment.
serology; pcr on acute phase whole blood; isolation by cell culture in reference labs.
california encephalitis, jamestown canyon encephalitis, la crosse encephalitis.
intestinal tract of animals and humans, and soil.
streptococcus pneumoniae (pneumococcus)
often asymptomatic in healthy individuals. symptomatic cases: fever, chills, myalgia, fatigue, and jaundice, hemolytic anemia; severe cases: retinal infarctions, ecchymoses and petechiae, acute respiratory failure, congestive heart failure, dic, liver and renal failure, and splenic rupture
the highest prevalences are found in africa and asia. egypt has the highest hcv prevalence rate (22%), likely due to a national schistosomiasis treatment campaign since the 1960s that re-used needles.
hfrs is caused by myodes-, rattus-, and apodemusborne hantaviruses.
supportive
supportive care; ribavirin iv is effective if given within the first 6 days after infection. there is no vaccine.
direct transmission via skin to skin or oral contact (also via sharing drinking and eating utensils).
typically a cardiopulmonary infection as opposed to the primarily renal infection produced by old world hantaviruses
type b hepatitis, serum hepatitis, homologous serum jaundice, long-incubation hepatitis.
argentinian (junin virus), bolivian (machupo virus), brazilian (sabia virus), and venezuelan (guanarito virus) hemorrhagic fevers.
bird flu, avian influenza, highly pathogenic avian influenza, h5n1.
serology (eia, recombinant immunoblot assay (riba)); rt-pcr on plasma; quanititative rt-pcr to monitor treatment; genotyping; liver biopsy for histology to assess disease stage and activity.
about 90% of the cases in a recent outbreak in turkey were farmers. cchfv genotypes cluster geographically, with exceptions: the asia 1 genotype has been found in madagascar, where it was possibly introduced by migrating birds, and africa 1 in the middle east, which may have been introduced with infected livestock.
mainly humans;
the global dengue distribution follows vector presence and introduction of the virus, and occurs basically between the 10 c isotherms.
there is an asexual phase in humans and a sexual phase in the vector mosquito. in the mosquito, gametocytes develop into sporozoites.
community management by safe strategy
coccidioides immitis (californian) and c. posadasii (noncalifornian)
monkeys
need to treat both p. vivax blood and liver stage.
hookworm eggs hatch in the soil and develop to infective larvae (l3) that can penetrate the skin. after mating, the female hookworms produce up to 30,000 eggs per day that are shedded with the stools into the environment.
acute watery diarrhea, severe watery diarrhea with vomiting, leading to severe dehydration
