ICD-9 002.0; ICD-10 A01
Buruli ulcer is named after Buruli county in Uganda, where the disease was common in the 1960s. The disease is reported in 30 countries with tropical climates, but it may occur in some temperate regions.
Dengue-like acute febrile illness with sudden onset fever, severe chills, severe headache, eye pain, symmetrical polyarthralgia of all joints (as opposed to dengue, which attacks mainly elbows and knees), generalized myalgia, sometimes dry cough and coryza, leucopenia and often an itching, descending morbilliform rash.
Penicilliosis
16–18 days (range 12–24 days)
None.
ICD-9 066.1; ICD-10 A93.2
ICD-9 082.0; ICD-10 A77.0
Avoid consumption of inadequately cooked marine fish. Clean the fish early. Freezing at 20 C for at least 7 days kills larvae.
Humans. Cattle and other livestock may harbor C. ulcerans
Detection of eggs in feces. Adult flukes may be seen in the stools or vomit.
Approximately 50 days, but varies.
In addition to humans, dogs and fish-eating terrestrial and marine mammals
Histoplasmosis
Severe Acute Respiratory Syndrome
Mosquito bite.
Tick-small mammals and birds-tick; large mammals are necessary to maintain tick populations.
Larva currens.
3–12 days.
Barmah Forest virus (BFV) and Ross River virus (RRV), enveloped RNA viruses, genus Alphavirus in the family Togaviridae.
Rotavirus diarrhea, acute viral gastroenteritis, severe viral gastroenteritis.
Plasmodium vivax
principally in India and Sub Saharan Africa. Asia and South America have lower Bancroftian filariasis prevalences (below 8%) than Sub Saharan Africa (up to 37%) and Pacific Island (up to 48%) regions.
Penicillin and metronidazole; rehydration; nutritional rehabilitation; wound disinfection; reconstructive surgery.
Humans.
Antibiotic treatment with a macrolide antibiotic
Small wild mammals such as rodents, snowshoe hares, deer and vector mosquitoes (venereal and transovarian transmission occur).
ICD-9 088.0; ICD-10 A44
Large marsupials, particularly kangaroos and wallabies.
Measles
Endoscopic removal of larvae; albendazole; surgery for complications. Allergic patients: symptomatic treatment.
Respiratory droplets from people with respiratory diptheria. Direct contact with discharge from the skin
Days to weeks.
By inhalation of aerosols from dried rodent excreta (this is unlike other Bunyaviruses that are generally arthropod-borne).
By mosquito bite.
Paracoccidioidomycosis
Hepatitis C
Trachoma
ICD-9 480.8; ICD-10 B33.4
Painless cutaneous lesions appear at the site of sandfly bite and typically these develop into ulcers with a raised border. Multiple lesions and regional lymphadenopathy may be present.
ICD-9 001; ICD-10 A00
Microscopy (Kato-Katz method).
ICD-9 070.3; ICD-10 B16 and B18.
Oro-fecal. 100% of susceptible contacts become infected. Virus appears in the throat < 36 hours after infection, for a week, and in the feces after 72 hours for 3–6 weeks.
Intestinal tract of animals and humans, and soil.
Humans and possibly cats.
Inhalation of spores from disturbed soil.
SARS coronavirus (SARS-CoV)
Brucellosis is a common zoonosis with approximately 500,000 new cases per year world wide. Incidence is highest in males with occupational exposure. The highest incidences are recorded in Mediterranean countries, Middle East, Central America, and Central Asia. Many of the high-incidence countries were formerly part of the Soviet Union.
Mainly humans;
Hendra virus: encephalitis and pneumonia, with a rapid progression to death (few survive).
None.
Female phlebotomine sandflies (Lutzomyia spp.).
Usually 6 to 9 weeks; range from 2 weeks to 6 months.
Virus can be isolated or RNA detected in acute blood by RT-PCR.
ICD-9 A41.09; ICD-10 A40.8
Acute irregular fever, chills, sweating, arthralgia, headache, and depression.
Wear impermeable gloves when handling or skinning rodents or lagomorphs; cook wild game well; avoid drinking water from untreated sources; wear long-sleeved clothes and use repellent
ICD-9 084; ICD-10 B50
appropriate antibiotics (penicillin, ceftriaxon) will lead to recovery.
ICD-9 087; ICD-10 A68.0 – A68.1
Especially prevalent in pig-rearing regions of Southeast Asia. The disease is most common in lowlands where the snail host is present. Disease spread is facilitated by heavy rainfall and extensive flooding
World wide, but close to elimination in the Americas and targeted for elimination in Europe by 2015. In the absence of vaccination the prevalence of rubella infection by the age of 13 years ranges from 20 to 95%, but is most often over 50%. Reported data on clinical rubella are a vast underestimate since it is a mild disease with a clinical picture similar to several other infections.
Supportive measures such as mechanical ventilation.
IgM ELISA, RT-PCR, virus isolation from blood, urine, or throat washing, seroconversion to IgG positive.
Varies by agent but is generally 7 days with a range from 1 to 15 days.
Crustaceans infected with metacercaria larvae are ingested by the reservoir host, excyst in the gut and migrate to the tissues, usually the lungs. There they encapsulate, mature, and lay eggs.
Streptobacillus moniliformis
ICD-9 083.1; ICD-10 A79.0
Vaccination of livestock and humans. Antibiotic prophylaxis when exposed. Infected animal carcases should be burned or deeply buried
Symptomatic
ICD-9 039; ICD-10 B47
Tetanus
By tick bite
Doxycycline for acute Q fever.
pneumonia, hepatitis, and isolated fever. neurological (headache, confusion, peripheral neuropathy), sore throat, chills, sweats, rash, and non-productive cough.
Approximately 90% of VL cases occur in rural and suburban areas of five countries: Bangladesh, India, Nepal, Sudan, and Brazil. There are indications that VL is spreading to historically nonendemic areas, like northern parts of Europe and Western Upper Nile Sudan.  VL is reported in Chad, DRC, and Zambia, but the infectious agent is unknown.L. donovanishas been foundin Sri Lanka
Usually 5–15 days.
Yersinia pestis
Fever, fatigue, anorexia, abdominal discomfort, nausea, vomiting, myalgia, jaundice, dark urine, and light stools, Arthritis and rash, CFR <0.3%.
Larval mites.
Japanese B encephalitis.
Opisthorchis felineus in Europe and northern Asia, O. viverrini in Southeast Asia
personal anti-mosquito measures; eliminating potential breeding sites (e.g. old tires) and filling of basal tree-holes with concrete.
Foxes (including urban foxes) are the definitive hosts, wild rodents (mainly Arvicolidae), voles and lemmings are intermediate hosts.
From 2–3 months to several years. Most infections do not progress to disease.
ICD-9 066.3; ICD-10 A92.5
Lyme borreliosis, erythema (chronicum) migrans (EM), tick-borne meningopolyneuritis, acrodermatitis chronica atrophicans.
Mainly humans.
Bancroftian filariasis, Brugian filariasis, lymphatic filariasis, Malayan filariasis, Timorean filariasis.
Self-limiting disease.
During outbreaks: strict control on animal movements and slaughtering; Adequate cooking essential; WHO recommends cooking pork to reach an internal temperature of 70 C
5–15 years in humans (5–7 weeks in dogs).
Anisakidosis
Dengue
Acute disease: insidious onset with right upper quadrant pain, fatigue, nausea, malaise and vomiting; some progress to jaun-dice and dark urine. Most infected cases (approx. 80%) develop chronic disease with fatigue as main symptom
Through contact with infectious respiratory droplets or saliva.
During bloodmeal, the sandfly ingests infected blood with amastigotes. In the host cell the promastigotes develop into amastigotes.
Prevention is focused on eliminating BSE in cattle, preventing infected bovinematerial entering the animal and human food chain, and reducing the risk of secondary transmission to humans in the healthcare setting.
Virus detection in blood or tissue by culture or RT-PCR
Standard anti-mosquito precautions.
Eastern equine encephalitis virus (EEEV) is an enveloped, single-stranded positive-sense RNA alphavirus, genus Alphavirus in the family Togaviridae, with four lineages
The disease is seasonal, generally coinciding with tick activity; there are peaks of incidence every 5–7 years in China. Europe and Russia have an estimated 12,000 cases per year (2007). In eastern regions the disease coincides with tick habitat in cold, moist forest, but tick ranges extend well beyond reported disease at both eastern and western geographical extremes.
None.
F. tularensis tularensis Type A is found in North America. Type B is found throughout the northern hemisphere, mainly in Eurasia. In Europe, most cases are reported from Sweden, Finland, and Russia, and is recently emerging in Spain.
Humans.
Humans and non-human primates
Humans.
Contamination of wounds with soil, dust or animal feces that contain C. tetani spores. Through injection of contaminated street drugs.
Since the end of 2003 the A/H5N1 virus has spread globally, infecting poultry in over 60 countries and causing the loss of over 250 million poultry. In 2010 HPAI H5N1 remained entrenched in poultry in several Asian countries and Egypt. 
Supportive; ribavirin is effective if given within the first 6 days; dialysis if indicated.
High fever with headache, chills, neck stiffness, anorexia, nausea, and vomiting developing into aseptic meningitis or encephalitis with disorientation, coma, seizures, spastic paralysis, drowsiness, and stupor. Death occurs from respiratory complications or seizures.
Hepatitis E virus (HEV), a non-enveloped singlestranded RNA virus, genus Hepevirus, the single member in the Hepeviridae family. 
Soil, (decaying) vegetation, and ruminants. Humans and ruminants can carry listeria
None.
Outside Africa it is the dominant species, mainly in Asia. In 2010, an autochtonous P.vivax case was diagnosed in north eastern Spain.
The disease is thought to have originated in the tropics and subtropics of Africa and Asia. India had the most new cases in 2008 (134,000), followed by Brazil (39,000), and Indonesia (17,000). Foci in Brazil are found in the Amazonian jungle, but also in arid areas. Poverty and crowded dwellings are important risk factors.
2–5 days viremia in host, 5–7 days in mosquito, then back into host.
Rubeola, morbilli.
Dracunculiasis
By tsetse fly bite (day biters); blood transfusion, and congenital.
The incidence of Noma and the prevalence of survivors of Noma are not well known. In developed countries sporadic cases occur in immune-compromised patients, neonates, HIV-positive and diabetic patients.
ICD-9 123.4; ICD-10 B70.0
Detection of trypanosomes in blood, lymph, or CSF after concentration
Rickettsioses, Tick-borne, New World
Ziehl–Neelsen stain on smears or biopsies, culture (takes 6–12 weeks), PCR, histopathology.
Common unspecific symptoms are acute febrile illness with chills, sweats, nausea, headache, and vomiting. P. vivax can lead to severe anemia, acute respiratory distress, liver failure, renal failure, and even cerebral malaria.
the mean incubation period is likely to be 10 to 20 years
Spores of Bacillus anthracis, a Gram-positive, encapsulated, non-motile rod.
Supportive with pain management.
Human buccal flora.
7–10 days for HME, 7–14 days for HGA, 14 days for Sennetsu fever.
Clostridium tetani
IgM ELISA, RT-PCR and virus isolation can be used on acute specimens; in convalescence, antibody tests
Environment with occasional spillover to humans.
Rodents, principally rats and sylvatic ground squirrels: marmots, susliks, and prairie dogs.
Sanitation (particularly use of latrine and maintaining pigs enclosed); hygiene; meat inspection; thorough cooking of pig meat before consumption;
The global number of hookworm disease cases is estimated to be 740 million individuals, with the highest prevalence in Sub-Saharan Africa and eastern Asia. the majority (85%) of the hookworm infections are caused by Necator americanus, which is the predominant hookworm of Latin America, the Caribbean, Sub-Saharan Africa, and Southeast Asia.
5–14 days after infected bite, 30–40 days after infected blood transfusion.
Days to months.
ICD-9 041.2; ICD-10 A40.3
Epidemic or louse-borne relapsing fever (LBRF), endemic or tick-borne relapsing fever (TBRF).
ICD-9 005.1; ICD-10 A05.1
Cutaneous and mucosal leishmaniasis (CL): Espundia, Uta, Chiclero ulcer, forest yaws.
Praziquantel; surgery in case of biliary obstruction.
There are three transmission cycles: (1) sylvatic or jungle, (2) intermediate or savannah, and (3) urban.
Infections most often occur in rural areas. Scrub typhus is thought to occur within the so-called ‘Scrub typhus triangle,’ bounded by Siberia (north), Kamchatka Peninsula (east), Pakistan (west), and Australia (south).
Ticks introduce Babesia spp. sporozoites from the ticks’ salivary glands into small mammals/humans during feeding. The sporozoites infect erythrocytes in which they asexually reproduce by budding and develop through various stages into gametocytes.
LACV is the primary cause of arboviral encephalitis in children in the USA.  JCV is most commonly found around the Great Lakes in USA and Canada. 
Viral RNA dection in blood by RT-PCR; serology (IgM ELISA; four-fold increasein IgG);
Identification of intracellular amastigotes in stained smears. PCR is sensitive and specific.
Capillariasis, Intestinal
Schistosomiasis, Africa & Americas
Amphotericin B desoxycholate and/or azole antifungals; surgery to remove foci.
ICD-9 085; ICD-10 B55
Western equine encephalitis virus (WEEV)
Listeriosis
Possibly mechanic transmission by non-biting flies
Approximately 150,000 to 200,000 patients with HFRS are hospitalized each year throughout the world, more than half of them in China. 
By airborne droplets from or contact with nose and throat secretions of infected persons, very high from 4 days before to 4 days after rash appears, or with fomites contaminated with those secretions
All countries with urban dengue are at risk of the introduction of yellow fever, including Asia and Australasia, because the vector is the same (see Aedes egypti and Aedes albopictus map). 
Fecal–oral route, mainly via fecally contaminated water, but also via: food, materno-fetal, and transfusion of blood products. 
Gradual onset, malaise, fever, headache, sore throat, cough, nausea, vomiting, diarrhea, myalgia, chest, and abdominal pain; inflammation and exudation of the pharynx and conjunctivae are common. Progression to multisystem disease occurs in 20% of infections, with hypotension or shock, hemorrhage, pleural effusion, seizures, encephalopathy and edema of the face and neck. Transient alopecia, ataxia, and eighth cranial nerve deafness may follow; deafness may be permanent. 
Usually 2–6 months (range: 10 days to years).
rhabdovirus
Histology is the gold standard. M. leprae cannot be cultured in vitro.
For bacteria, clindamycin, trimethoprim-sulfamethoxazole, long-acting sulfonamides; for fungi, itraconazole, ketaconazole, or voriconazole.
Microfilariae ingested by the fly develop in about 7 days into infective L3 stages and migrate to the head and escape into the skin during feeding. Humans remain infectious for about 10 years, the time the female worm remains fertile, bur reinfection occurs in endemic areas.
Mosquito–reservoir host–mosquito. The mosquito becomes infected during feeding on a viremic reservoir host
Humans are viremic at a titer high enough to infect mosquitoes for up to 5 days after infection.
Rodent control in and around dwellings; infection control in hospitals, with barrier nursing and precautions to avoid contact with body fluids.
Symptoms are similar to smallpox, but milder: fever, headache, myalgia, backache, lymphadenopathy (not seen in smallpox), malaise, sore throat, cough, shortness of breath, followed by a vesicular-pustular rash on the face and body; the lesions eventually crust and fall off.
Trematode worms Schistosoma mansoni, S. haematobium, S. intercalatum, and S. guineensis
Relapsing Fever
Humans
Zika virus
Klebsiella granulomatis, formerly Calymmatobacterium granulomatis
Paragonimiasis
Plasmodium falciparum
Tularemia
Verruga peruana may occur without an evident acute phase. Oroya fever: fever,myalgia, arthralgia, headache, evolving to severe hemolytic anemia, generalized lymphadenopathy and hepatosplenomegaly; milder symptoms in children.
P. knowlesi malaria is widely distributed across Sarawak and Sabah in Malaysian Borneo and extends to the state of Pahang in Peninsular Malaysia. P. knowlesi malaria cases have also been acquired in Thailand, Myanmar, Singapore, and the Philippines.
Oropouche virus (OROV), a spherical enveloped, single-stranded, negative-sense RNA virus, belonging to the Orthobunyavirus group of the Bunyaviridae family, with 3 genotypes.
Fascioliasis
Diphyllobothriasis
1-12 weeks, less than 1 year to over 15 years.
RMSF and R. parkeri rickettsiosis are characterized by fever, myalgia, malaise, headache, and a maculopapular eruption
Vaccination of children with three doses of Hib conjugate vaccine. rifampicin prophylaxis is recommended for all household members.
The nematodes: Anisakis simplex, A. physeteris, Pseudoterranova decipiens, and Contracaecum spp.
Symptoms range from benign pulmonary infection (fever, chills, cough, chest pain, dyspnea), night sweats, anorexia and weight loss to progressive pulmonary or extrapulmonary disease involving skin, bones and/or joints, the central nervous system
About 12 months (10 to 18 months).
Rift Valley Fever
A relatively severe illness with a microscopic diagnosis of P. malariae should alert clinicians to the possibility of P. knowlesi. Species can be confirmed by PCR if needed.
Japan, Africa, Caribbean islands and South America are the areas of highest prevalence, but the reasons for this are unknown.Distribution of the infection is focal, e.g. Brazil, Japan, and Iran, where HTLV-1 is limited to certain areas of each country. For non-endemic areas such as Europe and North America, HTLV-1 infection is mainly found in immigrants from endemic areas, their offspring and sexual contacts, among sex workers and IVDUs. 
Pig-to-pig, with occasional spill-over to humans.
By mosquito bite.
Echinococcosis is restricted to the northern hemisphere, and is most commonly found in adults.
Melioidosis
By mosquito bite.
High altitude rodents, including ground squirrels and porcupines; ticks by trans-stadial transmission; 
Direct transmission via skin to skin or oral contact (also via sharing drinking and eating utensils).
Usually 1–3 months (rarely <1 week and > 1 year) depending on virus variant, dose, wound severity and distance of wound from the brain.
IgM antibody detection in CSF (in serum may not be from the current infection), neutralization test on paired acute and convalescent sera
Humans.
Lassa Fever
Ribavirin in combination with peg-interferon. 
Tick–vertebrate–tick, with humans as incidental hosts.
A papule at the bite site develops into a painful chancre (mainly T.b. rhodesiense)
Humans; forest monkeys in West Africa and Southeast Asia.
Animal–mosquito–animal with spillover to humans in epidemics via direct/indirect contact to infected animal tissue or mosquito bite.
By ingestion of contaminated food (honey in infant botulism), injection of contaminated drugs, or contamination of wounds by soil, dust or gravel.
Female phlebotomine sandflies
Microscopy (M’Fadyan stain) of lesion; bacterial culture of lesion, blood, or respiratory specimen; PCR; ELISA.
Obligate intracellular, pleomorphic bacteria of the family Anaplasmataceae
Human.
Pneumococcal Disease
reported in the Middle East, the Indian Subcontinent, and various parts of Southeast Asia.
(1) relapsing fever, (2) severe, migratory polyarthralgias, and (3) a peripheral, hemorrhagic maculopapular rash.
Intestinal capillariasis is generally found in countries where raw freshwater fish is eaten. C. philippinensisis endemic in the Philippines, Laos, and Thailand.
Detection of toxin in serum, stool or wound by mouse inoculation or ELISA; electromyography.
The protein concentrates in tissues of the central nervous system. Prions are resistant to normal cooking temperatures and humans are thought to be infected by ingesting contaminated food.
Humans (mainly L. donovani), wild Canidae (foxes, raccoon dogs, jackals, wolves), domestic dogs (mainly L. infantum/chagasi), and rodents.
Usually 12–36 hours; sometimes several days; up to 2 weeks for wound botulism.
Anisakiasis, pseudaterranovosis, Cod worm disease, Herring worm disease, Whaleworm disease, and Sealworm disease.
Non-A non-B hepatitis, HCV infection.
Months to years.
Larval stage mites
The global dengue distribution follows vector presence and introduction of the virus, and occurs basically between the 10 C isotherms.
Supportive, there is no specific treatment.
None.
Protection from vector bites by wearing permethrin-treated light-colored clothes and fly repellent on exposed skin.
Enzyme immunoassay to detect anti HIV antibodies with confirmation by Western blot. Fourthgeneration HIV serology tests that consist of antibody detection and p24 antigen detection  are commonly used.Rapid tests are available for field testing. Viral load and HIV-1 p24 antigen may be used. CD4 cell counts and HIV viral load are used to monitor progression of infection. Genotypic and phenotypic tests are used for HIVdrug-resistance testing.
Humans, dogs, cats, pigs, and wild carnivores.
ICD-9 062.0; ICD-10 A83.0
ICD-9 072; ICD-10 B26
Strongyloidiasis
serology (IFA; ELISA); rapid dipstick test.
SINV has been isolated from Africa, Eurasia, and Australia. The highest disease burden is in northern Europe (approximately between 60 and 64 N) and South Africa. Evolutionary studies show that SINV likely originated from South America, with subsequent spread to North America, Asia, and Australia, with later spread to Europe and Africa. Highest attack rates in Finland are in the eastern parts, and mainly in the age group 45 to 65 years. Epidemics tend to occur every 7 years in Finland, with the last epidemic in 2002.
Rickettsia rickettsii, R. parkeri and R. africae
ICD-9 125.0, 125.1, 125.6; ICD-10 B74.0, B74.1, B74.2
Detection by RT-PCR on blood or swabs of nasopharyngeal mucosa; virus isolation from swabs, blood, or urine; detection of measles specific IgM or significant rise in antibody titer in paired samples.
By mosquito bite (Anopheles spp.); transmission has been described in needle sharing IVDUs and blood transfusion.
Typical finding is transient subcutaneous swellings (Calabar swellings) which are angiedemas. These swellings are itchy and mainly occur on the limbs
Monkeypox virus (MPV), a double-stranded DNA virus of the genus Orthopoxvirus, family Poxviridae.
RT-PCR; antigen detection; serology by IgM ELISA.
Mild disease: oral itraconazole or trimethoprimsulfamethoxazole. For severe cases: iv amphotericin B or trimethoprim-sulfamethoxazole.
Although SARS-like coronaviruses 
Zika virus is present in the tropical regions in the Old World and is absent from the Americas (a single case in the USA was imported from Yap island). The competence of mosquitoes on the American continent for Zika virus is unknown. The geographic distribution is confirmed by virus isolation from cases, mosquitoes and sentinel monkeys.
ICD-9 9055.0; ICD-10 B05
Histoplasma capsulatum is found throughout the world excluding areas of very low and very high rainfall. It is endemic in certain areas of the United States, particularly in states bordering the Ohio river valley and the lower Mississippi river. H. capsulatum var. duboisii is common in caves in southern and East Africa.
ICD-9 127.2; ICD-10 B78
Pentavalent antimonials; pentamidine; amphotericin.
Tick to mammalian host to tick for Ehrlichia and Anaplasma; trematode to aquatic host to trematode for Neorickettsia. Human is a dead-end host for all.
Supportive
Humans.
German measles
In high-endemic regions like Southeast Asia, Africa, and the Amazon basin, most individuals become infected during childhood (mother-to-child, or child-to-child). In developed regions, the prevalence is low and important routes of transmission are different, consisting mostly of unsafe sexual practices, IVDU, and occupational transmission in healthcare workers. Chronic HBV associated liver cirrhosis is more common in developed nations than in Southeast Asia, but the incidence of hepatocellular carcinoma is lower compared to Southeast Asia.
Often asymptomatic in healthy individuals. Symptomatic cases: fever, chills, myalgia, fatigue, and jaundice, hemolytic anemia; severe cases: retinal infarctions, ecchymoses and petechiae, acute respiratory failure, congestive heart failure, DIC, liver and renal failure, and splenic rupture
Tetracycline, doxyxyline. Alternative: chloramphenicol.
Humans are the definitive host; pigs are an intermediate host.
Streptococcus suis
ICD-10 A92.9
Proper cooking, or freezing of fish at 20 C for 7 days destroys the parasite. Abandon use of human feces to fertilize fish ponds.
Measles has a worldwide distribution, but is eliminated from the western hemisphere through vaccination.
Schistosomiasis, Asia
Rotavirus
About 90% of the cases in a recent outbreak in Turkey were farmers. CCHFV genotypes cluster geographically, with exceptions: the Asia 1 genotype has been found in Madagascar, where it was possibly introduced by migrating birds, and Africa 1 in the Middle East, which may have been introduced with infected livestock.
Rickettsia aeschlimannii, R. africae (ATBF), R. australis (QTT), R. conorii caspia (AF), R. conorii conorii (MSF), R. conorii indica (ITT), R. conorii israelensis (ISF), R. helvetica, R. honei (FISF), R. japonica (JSF/OSF), R. massiliae, R. sibirica (STT/ NATT)
Praziquantel and niclosamide are the drugs of choice
Dengue-like fever with headache, malaise, arthralgia or myalgia for about 2 to 5 days
The multi-mammate rat (Mastomys natalensis), which lives in houses and surrounding fields.
ticks and biting flies (deer flies, tabanids). Dermacentor reticulatus and Ixodes ricinus
Capillaria philippinensis (or Paracapillaria philippinensis)
ICD-9 081.2; ICD-10 A75.3
Supportive
nocturnal fever, cough, myalgia, headache, and abdominal pain. S. japonicum causes intestinal schistosomiasis with: diarrhea, abdominal pain, blood in the stool, hepatosplenomegaly. Chronic infection leads to liver fibrosis and portal hypertension, anemia, and altered growth and cognitive development in infected children
6–21 days, usually 7–12 days.
Infective sporozoites are inoculated by bite from anopheles mosquitoes and through the bloodstream and lymphatics reach the liver. Gametocytes are able to infect mosquitoes during a blood meal.
Parasite, kinetoplastida
Fasciolopsiasis
The highest global burden of CL is in the Old World. In the Americas, Bolivia, Brazil, and Peru have the highest burden of CL. Transmision can also occur in deforested areas.
California encephalitis, Jamestown Canyon encephalitis, La Crosse encephalitis.
Varying from 4 to 45 days.
Lyme disease is the most commonly reported vector-borne diseasein both North America and Europe. Incidence is seasonal, corresponding to increased vector activity during summer. Climate change, more housing in wooded areas, and expanding populations of deer, and small rodents may be responsible for the increase in Lyme disease cases.
From a few hours up to 3 days.
Primarily Old World fruit-eating bats, mainly in the family Pteropodidae.
Trench fever, quintana fever, quintan fever, shinbone fever, shank fever, His-Werner disease, and Wolhynia fever.
Mosquito to reservoir animal to mosquito. There is an enzootic cycle, mainly between C. taralsis and passerine birds. There is a secondary cycle that involves rabbits. Viremia lasts 2–5 days in birds. Extrinsic cycle in the mosquito lasts up to 7 days but transmission can occur in as little as 4 days.
Domestic and free living ungulates (cattle, sheep, and goats).
Western Equine Encephalitis
Consumption, white plague, TB.
Supportive, there is no specific treatment
Zika Fever
Salmonella enterica enterica serovar Typhi (S. Typhi)
Most infections produce few or no symptoms. Acute symptoms include variable fever, lymphadenopathy,malaise, and hepatosplenomegaly.
2–10 weeks to primary lesion or tuberculin-positive skin test
Leishmaniasis, Cutaneous and Mucosal, New World
Access to clean water and sanitation; regular deworming; use of closed footwear
Anisakidosis occurs world wide, mainly in coastal regions, and in cultures where consumption of raw fish occurs. Pseudoterranovosis (codworm) is relatively more common in North America than in Europe or Japan. Most allergic cases are reported from Mediterranean Europe.
